// Place all the styles related to the change_agents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.change-agents-wrapper {
  @extend .expert-list-wrapper;
  width:90%;
  padding-bottom: 2em;
}

  .change-agents-copy {
    font-size: 1.2em;
  }

.change-agent {
  margin-bottom: 15px;
  padding-bottom: 15px;
  -webkit-transition: 1s;
  &:hover {
    .change-agent-name, .change-agent-title {
      color: $mlts-blue;
    }
    .change-agent-quote{
      background: $mlts-blue;
      &:after {
        border-bottom-color: $mlts-blue;
      }
    }
  }

  .change-agent-title {
    text-align: center;
    color: $dark-grey;
    font-size: 0.75em;
  }

  // Speech bubbles
  .change-agent-quote {
    display: block;
    margin:30px 15px 0.5em;
    padding:15px;
    color:#333;
    background:#eee;
    -webkit-transition: 1s;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
  }

  // Speech bubble traingles
  .change-agent-quote:after {
    content:"";
    position: absolute;
    left: 50%;
    top: 65px;
    -webkit-transition: 1s;
    @include larger-than(medium) {
      top: 80px;
      left: 45%;
    }
    border:15px solid transparent;
    border-bottom-color:#eee;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }
}


.for-change-agents {
  section .wrapper > .mf-copy {
    padding-bottom: 2em;
  }
  section .wrapper > .mf-copy:nth-child(2) {
    padding-bottom: 0;
  }
}

.fca-list {
  text-align: left;
  @include smaller-than(extra-large) {
    padding: 0 !important;
  }
}

.fca-email-container {
  & .wrapper {
    padding-bottom: 4em;
  }
}

.fca-email-copy {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3.5em;
  @include smaller-than(extra-large) {
    width: 70%;
  }
}

.feedback-email {
  color: black;
}
