// Place all the styles related to the change_agents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.change-agents-wrapper {
  @extend .expert-list-wrapper;
  width:90%;
  padding-bottom: 2em;
}

  .change-agents-copy {
    font-size: 1.2em;
  }

.change-agent {
  .change-agent-name, .change-agent-title, .change-agent-quote-prompt {
    -webkit-transition: 1s;
  }
  margin-bottom: 15px;
  padding-bottom: 15px;
  -webkit-transition: 1s;
  &:hover {
    .change-agent-name, .change-agent-title, .change-agent-quote-prompt {
      color: $mlts-blue;
    }
    .change-agent-quote{
      background: $mlts-blue;
      &:after {
        border-bottom-color: $mlts-blue;
      }
    }
  }

  .change-agent-name {
    font-size: 1.4em;
  }

  .change-agent-title {
    text-align: center;
    color: $dark-grey;
    font-size: 0.75em;
  }

  .change-agent-quote-prompt {
    text-align: center;
    padding-top: 10px;
    color: $dark-grey;
    font-size: 0.9em;
  }

  // Speech bubbles
  .change-agent-quote {
    display: block;
    margin:20px 15px 0.5em;
    padding:15px;
    color:#333;
    background:#eee;
    -webkit-transition: 1s;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
  }

  .change-agent-quote-text:before {
    font-family: Georgia, serif;
    color: white;
    content: "\201C";
    font-size: 2.5em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.3em;
  }

  .change-agent-quote-text:after {
    font-family: Georgia, serif;
    color: white;
    content: "\201D";
    font-size: 2.5em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
  }

  // Speech bubble traingles
  @include larger-than(ex-large) {
    .change-agent-quote:after {
      content:"";
      position: absolute;
      left: 45%;
      top: 100px;
      -webkit-transition: 1s;
      border:15px solid transparent;
      border-bottom-color:#eee;
      /* reduce the damage in FF3.0 */
      display:block;
      width:0;
    }
  }
}


.for-change-agents {
  section .wrapper > .mf-copy {
    padding-bottom: 2em;
  }
  section .wrapper > .mf-copy:nth-child(2) {
    padding-bottom: 0;
  }
}

.fca-list {
  text-align: left;
  @include smaller-than(extra-large) {
    padding: 0 !important;
  }
}

.fca-email-container {
  & .wrapper {
    padding-bottom: 4em;
  }
}

.fca-email-copy {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3.5em;
  @include smaller-than(extra-large) {
    width: 70%;
  }
}

.feedback-email {
  color: black;
}
