.playlist-container {
  padding-top: $nav-height;
  background: #1e2428;
  text-align: left;
  height: 100%;
}

body {
}

.playlist-index-wrapper {
  text-align: left;
  padding: 40px;
}

.playlist-title {
  font-family: "Montserrat Regular", montserrat, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 3em;
}

.playlist-description {
  font-family: "Montserrat Light Italic", montserrat, sans-serif;
  font-size: 1.2em;
  color: #d2d2d2;
}

.playlist-caps-text {
  font-family: "Montserrat Medium", montserrat, sans-serif;
  text-transform: uppercase;
  color: #b0d4ed;
  font-size: 1em;
}

.playlist-chapter-title {
  font-size: 3em;
}

.playlist-chapter-header {
  padding: 30px;
  p {
    font-family: "Montserrat Light", montserrat, sans-serif;
    color: #d2d2d2
  }
}

.playlist-chapter-wrapper {
  .playlist-top-button-container {
    position: absolute;
    right: 40px;
    top: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.playlist-index-wrapper {
  .playlist-top-button-container {
    padding-top: 50px;
  }
}

.playlist-top-button {
  flex-basis: 100%;
  color: #d2d2d2 !important;
  text-align: center;
  padding: 5px 15px;
  font-size: 1.2em;
  border: 3px solid #d2d2d2 !important;
  a {
    text-decoration: none !important;
  }
}

.playlist-tab-container {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.playlist-tab {
  flex: 1;
  margin-left: -1px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-overflow: ellipsis;
  height: 50px;
  background: #2b353b;
  padding: 20px 0;
  &:hover {
    background: black;
    p {
      color: white !important;
    }
  }
  &.selected {
    background: darken(#3e4956, 20% );
    border-bottom: none !important;
    p {
      color: white !important;
    }
  }
  p {
    display: inline;
  }
  img {
    width: 30px;
    display: inline;
  }
}


.playlist-transport-container {

}

.playlist-content-listen, .playlist-content-act {
  display: none;
}


.playlist-wrapper {
  text-align: left;
}

.playlist-title {
  padding-top: 20px;
  margin: 20px;
  color: white;
}

.playlist-content-container {
  padding: 20px;
}
.playlist-description {
  font-size: 1.2em;
  padding-top: 20px;
}

.playlist-track-title {
  color: white;
}

.playlist-transport-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  width: 100%;
  background: #2b353b;
}

.playlist-transport-item {
  flex: 1;
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  &:hover {
    background: #3e4956;
  }
}


.playlist-track {
  display: inline-block;
  cursor: pointer;
  margin: 20px;
  -webkit-transition: 1s;
  &:hover {
    opacity: 0.5;
  }

  .playlist-grid-image {
    width: 250px;
  }

  .playlist-description {
    font-size: 1.2em;
    padding: 10px 0;
  }

}

.icon-watch {
  background-image:
  url("/playlist/icons/watch.png");
}

.watch-image {
}
