.playlist-container {
  padding-top: $nav-height;
  background: #1e2428;
  text-align: left;
  min-height: calc(100% - 84px);
}

.playlist-index-wrapper {
  text-align: left;
  padding: 40px;
}

.playlist-title {
  font-family: "Montserrat Regular", montserrat, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 3em;
}

.playlist-description {
  font-family: "Montserrat Light Italic", montserrat, sans-serif;
  font-size: 1.2em;
  color: #d2d2d2;
}

.playlist-caps-text {
  font-family: "Montserrat Medium", montserrat, sans-serif;
  text-transform: uppercase;
  color: #b0d4ed;
  font-size: 1em;
  margin: 10px 0;
}

.playlist-chapter-title {
  font-size: 3em;
}

.playlist-chapter-header {
  padding: 30px;
  margin-bottom: 20px;
  p {
    width: 65%;
    font-family: "Montserrat Light", montserrat, sans-serif;
    color: #d2d2d2;
    margin-bottom: 20px;
  }
}

.playlist-chapter-wrapper {
  @include larger-than(large) {
    .playlist-chapter-header {
      min-height: 250px;
    }
    .playlist-top-button-container {
      position: absolute;
      right: 40px;
      top: 70px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .playlist-top-button {
        display: block;
        width: 100%;
      }
    }
  }
}

.playlist-index-wrapper {
  .playlist-top-button-container {
  }
}

.playlist-top-button-container {
  display: block;
  margin: 35px 0;
}

.playlist-top-button {
  display: block;
  min-width: 200px;
  margin-bottom: 20px;
  @include larger-than(medium) {
    display: inline;
  }
  flex-basis: 100%;
  margin-right: 10px;
  color: #d2d2d2 !important;
  text-align: center;
  padding: 5px 15px;
  font-family: "Montserrat Light", montserrat, sans-serif;
  width: 20%;
  font-size: 1.1em !important;
  border: 3px solid #d2d2d2;
  text-decoration: none !important;
}

.playlist-tab-container {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.playlist-tab {
  white-space: nowrap;
  overflow: hidden;
  padding: 15px !important;
  border: 1px solid #4C778F;
  p {
    text-overflow: ellipsis;
    font-family: "Montserrat Medium", montserrat, sans-serif;
    display: inline;
    color: #b0d4ed;
  }
  img {
    height: 22px;
    @include larger-than(medium) {
      margin-right: 10px;
    }
  }
  @include smaller-than(medium) {
    p {
      display: none !important;
    }
  }
  flex: 1;
  margin-left: -1px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  text-overflow: ellipsis;
  height: 60px;
  background: #3F4856;
  padding: 20px 0;
  &:hover {
    p {
      color: white !important;
    }
  }
  &.selected {
    background: #2b353b;
    border-bottom: none !important;
    p {
      color: white !important;
    }
  }
}

.playlist-content-act, .playlist-content-listen {
  display: none;
}

.playlist-content-act {
  a {
    color: #b0d4ed;
    text-decoration: underline;
    -webkit-transition: transform .5s;
    transition: transform .5s;
    &:hover {
      opacity: 0.8;
    }
  }
}

.act-image {
  max-width: 500px;
  width: 100%;
}


.playlist-content-container {
  background: #2C353C;
  padding: 30px;
  height: 100%;
  padding-bottom: 120px;
}

.playlist-content {
  min-height: calc(100% - 60px);
  h2 {
    font-family: "Montserrat Regular", montserrat, sans-serif;
    margin: 20px 0;
  }
  p, li {
    font-family: "Montserrat Light", montserrat, sans-serif;
  }
}

.playlist-chapter-title {
  font-family: "Montserrat Medium", montserrat, sans-serif;
  font-size: 2em;
  color: white;
}

.playlist-transport-container {
  @include smaller-than(medium) {
    position: fixed;
    bottom: 0;
  }
  display: flex;
  align-items: stretch;
  width: 100%;
  background: #1e2428;
  border-top: 2px solid white;
}

.playlist-transport-item {
  p {
    font-family: "Montserrat Light", montserrat, sans-serif;
  }
  flex: 1;
  display: inline-block;
  text-align: center;
  padding: 12px;
  &:not(.inactive) {
    cursor: pointer;
    &:hover {
      background: #3e4956;
    }
  }
}

.nav-arrow {
  height: 40px;
  width: 20%;
  display: inline;
  @include larger-than(medium) {
    height: 60px;
  }
}

.nav-arrow-left {
  float: left;
}

.nav-arrow-right {
  float: right;
}

.navigation-text {
  display: inline-block;
  width: 70%;
  @include smaller-than(medium) {
    display: none;
  }
}

.playist-chapters-container {
  overflow: auto;
}

.playlist-track {
  display: block;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transition: 1s;
  &:hover {
    opacity: 0.5;
  }
  p {
    font-family: "Montserrat Regular", montserrat, sans-serif;
  }

  .playlist-grid-image {
    width: 100%;
  }

  .playlist-description {
    font-size: 1.2em;
    padding: 10px 0;
  }

}


#bandcamp-iframe {
  @include smaller-than(medium) {
    width: 80% !important;
  }

}

.blue {
  --color: #97ADD9;
  --topbarcolor: #7694C6;
}

.green {
  --color: #C3E663;
  --topbarcolor: #AED252;
}

.orange {
  --color: #FCAD59;
  --topbarcolor: #EF9B44;
}

.yellow {
  --color: rgba(248, 251, 112, 1);
  --topbarcolor: #E3E45D;
}

.red {
  --color: rgba(254, 84, 0, 0.4);
  --topbarcolor: rgba(254, 84, 0, 0.7);
}

.pink {
  --color: #F8A6F8;
  --topbarcolor: #EF88F1;
}

.teal {
  --color: #66FBCC;
  --topbarcolor: #68DDB9;
}

.bulleted-list {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 2em;
}

.try-a-project-buttons {
  margin-top: 40px;
}

.project-video-container {
  width: 60%;
}

.more-resources-button {
  text-align: center;
  cursor: pointer;
}

.project-item-wrapper {
  display:block;
  position: relative;
}

.sticky-note {
  position: relative;
}

.project-item-container:after {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 15px;
  width: 0px;
  height: 0px;
  border-top: 30px solid var(--topbarcolor);
  border-right: 30px solid #2D353C;
}

.project-item-container {
  position: relative;
  background-clip:content-box;
  height:180px;
  color: white;
  background-color: var(--color);
  display: block;
  color: black;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: 1s;
  opacity: 0.6;
  h2 {
    padding:8px 12px;
  }
  &.selected {
    opacity: 1;
  }
  &.init {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
    h2 {
      display: none;
    }
    p {
      display: block;
    }
  }
  h2 {
    -webkit-transition: 1s;
    text-align: center;
    font-family: "Montserrat Regular", montserrat, sans-serif;
    @include smaller-than(small) {
      font-size: 14px;
    }
  }
  p {
    -webkit-transition: 1s;
    font-family: "Montserrat Regular", montserrat, sans-serif;
    padding: 20px;
    display: none;
  }
  .sticky-note-topbar {
    height:20px;
    width:100%;
    background-color: var(--topbarcolor);
  }
}

.project-intro-container {
  h2 {
    margin: 0;
  }
  p {
    margin-bottom: 10px;
  }
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.project-heading {
  font-size: 1.5em;
  font-family: "Montserrat Regular", montserrat, sans-serif;
  font-weight: 700;
}

.project-content {
  h2 {
    font-size: 1.5em;
    margin: 0;
  }
  p {
    margin-bottom: 20px;
  }

  display: none;
}
