.see-the-film-container {
  background-color: $grey;
  display: block;
}

.see-the-film-wrapper {
  @extend .expert-list-wrapper;
  color: white;
  h1,h2,h3,p,li,a{
    color: white !important;
  }
}

.tugg-logo {
  display: inline;
  width: 60px;
  vertical-align: middle;
  padding-bottom: 10px;
}

.see-the-film-copy {
  font-size:1.2em;
  margin-bottom:50px;
}



.screening-option-box{
  @extend .transition;
  font-size: 16px;
  padding: 0.5em 1em;
  cursor: pointer;
  position: relative;
  border: 1px solid $mlts-blue;
  margin-top: -1px;

  .card-header {
    padding:10px;
  }

  @include smaller-than(medium){
    width: 100%;
  }

  &:first-child{
    border-radius: 5px 5px 0 0;
  }

  &:last-child{
    border-radius: 0 0 5px 5px;
  }
}

.transparent {
  @include larger-than(ex-large) {
    background: transparent !important;
    a:not(.always-visible) {
      display: none;
    }
  }
}

// Screening FAQ
.screening-faq-wrapper {
  h2 {
    font-size: 1.7em;
    text-align:left !important;
    padding: 0 !important;
    margin-bottom:10px;
  }

  a {
    text-decoration: underline;
  }
  color: black;
  display: block;

  p, li {
    font-size: 1em;
  }

  p, ol {
    padding-bottom: 10px;
  }

  ol {
    list-style-position: inside;
  }
}
