<div class="contact-us-overlay lightbox-overlay">
  <a href="#" class="close"> &times;</a>

  <h3>Contact Us</h3>
  <span class="social-icons overlay-social-icons">
    <a href="https://www.facebook.com/MLTSfilm/" target="blank" class="icon icon-facebook"></a>
    <a href="https://twitter.com/mltsfilm" target="blank" class="icon icon-twitter"></a>
    <a href="https://www.youtube.com/channel/UCnkPlILzmiAkaTjgdOmeBSg" target="blank" class="icon icon-youtube"></a>
    <a href="https://www.instagram.com/mltsfilm/" target="blank" class="icon icon-instagram"></a>
  </span>
  </br>
  </br>
  <p>Interested in screening the film? Visit the  <a class="underline" href="https://educate.tugg.com/titles/most-likely-to-succeed">Tugg Edu page</a> for more info or fill out a <a class="underline" href="http://eduhome.tugg.com/request-a-quote/">Request a Quote form</a>.</p>

  </br>
  <p>Still have questions? Email <a class="underline" href="mailto:info@mltsfilm.org">info@mltsfilm.org</a> and a member of our team will get back to you right away.</p>

</div>
