<div class='bandcamp-container'>
  <iframe id="bandcamp-iframe" style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/track=<%= track_id %>/size=large/bgcol=333333/linkcol=0f91ff/minimal=true/transparent=true/" seamless><a href="http://mlts.bandcamp.com/track/im-an-exhibitionist-of-student-learning">I&#39;m an Exhibitionist...of Student Learning! by Most Likely To Succeed</a></iframe>
</div>
