<!-- Copy Container -->
<section class="copy-container">
  <div class="wrapper film-description">
    <h2>
      <p><i>Most Likely To Succeed</i> is a feature-length documentary that examines the history of education in the United States, revealing the growing shortcomings of conventional education methods in today's innovative world. The film explores compelling new approaches that aim to revolutionize teaching as we know it, inspiring school communities to reimagine what students and teachers are capable of doing. To date, <i>Most Likely To Succeed</i> has screened for thousands of audiences around the world, igniting conversations and empowering change along the way.</p></br>
  </h2></br>
      <p>From Director Greg Whiteley (<i>Last Chance U, Mitt,</i>) and Executive Producer Ted Dintersmith (author, <i>Most Likely to Succeed</i>).</p></br>
      <p><a class="underline" href="/#host-a-screening">Share the film with your community to activate change now.</a></p>
      </br>
    <span class="copy-social-icons">
      <a href="https://www.facebook.com/MLTSfilm/" class="icon icon-facebook"></a>
      <a href="https://twitter.com/mltsfilm" class="icon icon-twitter"></a>
      <a href="https://www.youtube.com/channel/UCnkPlILzmiAkaTjgdOmeBSg" class="icon icon-youtube"></a>
      <a href="https://www.instagram.com/mltsfilm/" class="icon icon-instagram"></a>
    </span>
  </div>

  <% cache @quotes do %>
  <!-- Carousel -->
  <div id="quotes" class="quote-carousel-wrapper">
    <div id="hero-quote-carousel" class="carousel slide carousel-fade header-reviews">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% @quotes.each_with_index do |quote, i| %>
          <div class="<%= i==0 ? "item active" : "item review-carousel-row js-item#{i}" %>">
            <ul>
              <% quote.each do |quote| %>
              <li class="review-item">
                <% if quote.link? %><a href=<%= quote.link %>><% end %>
                  <blockquote><%= quote.quote_text %></blockquote>
                  <p class="quote-author"><%= quote.author %></p>
                <% if quote.link? %></a><% end %>
              </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <!-- Controls -->
      <a class="left carousel-control hero-control" href="#hero-quote-carousel" role="button" data-slide="prev">
          <span class="icon icon-next-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control hero-control" href="#hero-quote-carousel" role="button" data-slide="next">
          <span class="icon icon-next-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
      </div>
    </div>
    <!-- end of Carousel -->
  <% end %>

</section>
<!-- End of Copy Container -->

