<!-- Host a Screening Container -->
<section class="host-a-screening-container" id="host-a-screening">
    <div class="host-a-screening-wrapper">
        <h1 class="host-screening-title">Host a Screening</h1>
        <h2 class="host-screening-copy">Change starts with you! Fill out the form below to host a screening of Most Likely To Succeed in your community and ignite a critical conversation about what you can do to move education forward.</h2>


        <div class="screening-form-background">
            <div class="screening-form-text">
              <h2 class="screening-form-title">Request to Host</h2>
                <p class="screening-form-description">Fill out this form and we will follow up with more information and next steps.</p>
                <p class="screening-form-description">Check out our <a class="underline" href="http://toolkit.mltsfilm.org/">Community Screening Toolkit</a>, with the step-by-step resources to make your event a big success.</p>
            </div>
            <div class="screening-request-form">
              <form method="post" novalidate enctype="multipart/form-data" action="https://www.formstack.com/forms/index.php" class="fsForm fsSingleColumn fsMaxCol1" id="fsForm2247407">
              <input type="hidden" name="form" value="2247407" />
              <input type="hidden" name="viewkey" value="tiS5trpR5f" />
              <input type="hidden" name="hidden_fields" id="hidden_fields2247407" value="" />
              <input type="hidden" name="_submit" value="1" />
              <input type="hidden" name="incomplete" id="incomplete2247407" value="" />
              <input type="hidden" name="style_version" value="3" />
              <input type="hidden" id="viewparam" name="viewparam" value="619368" />
              <div role="alert" id="requiredFieldsError" style="display:none;">Please fill in a valid value for all required fields</div>
              <div role="alert" id="invalidFormatError" style="display:none;">Please ensure all values are in a proper format.</div>
              <div role="alert" id="resumeConfirm" style="display:none;">Are you sure you want to leave this form and resume later?</div>
              <div role="alert" id="saveAndResume" style="display: none;">Save and Resume Later</div>
              <div role="alert" id="saveResumeProcess" style="display: none;">Save and get link</div>
              <div role="alert" id="fileTypeAlert" style="display:none;">You must upload one of the following file types for the selected field:</div>
              <div role="alert" id="embedError" style="display:none;">There was an error displaying the form. Please copy and paste the embed code again.</div>
              <div role="alert" id="applyDiscountButton" style="display:none;">Apply Discount</div>
              <div role="alert" id="dcmYouSaved" style="display:none;">You saved</div>
              <div role="alert" id="dcmWithCode" style="display:none;">with code</div>
              <div role="alert" id="submitButtonText" style="display:none;">Submit Form</div>
              <div role="alert" id="submittingText" style="display:none;">Submitting</div>
              <div role="alert" id="validatingText" style="display:none;">Validating</div>
              <div role="alert" id="autocaptureDisabledText" style="display:none;"></div>
              <div role="alert" id="paymentInitError" style="display:none;">There was an error initializing the payment processor on this form. Please contact the form owner to correct this issue.</div>
              <div role="alert" id="checkFieldPrompt" style="display:none;">Please check the field: </div>
              <div class="fsPage" id="fsPage2247407-1">
              <div class="fsSection fs1Col">
              <div id="fsRow2247407-1" class="fsRow fsFieldRow fsLastRow">
              <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell39158902" lang="en">
              <label id="label39158902" class="fsLabel fsRequiredLabel" for="field39158902">First Name<span class="fsRequiredMarker">*</span>                    </label>
              <input type="text" id="field39158902" name="field39158902" size="25" required placeholder="First Name" title="First Name" value="" class="fsField fsRequired" aria-required="true" />
              </div>
              </div>
              <div id="fsRow2247407-2" class="fsRow fsFieldRow fsLastRow">
              <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell39158903" lang="en">
              <label id="label39158903" class="fsLabel fsRequiredLabel" for="field39158903">Last Name<span class="fsRequiredMarker">*</span>                    </label>
              <input type="text" id="field39158903" name="field39158903" size="25" required placeholder="Last Name" title="Last Name" value="" class="fsField fsRequired" aria-required="true" />
              </div>
              </div>
              <div id="fsRow2247407-3" class="fsRow fsFieldRow fsLastRow">
              <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell39158904" lang="en">
              <label id="label39158904" class="fsLabel" for="field39158904">Email                    </label>
              <input type="email" id="field39158904" name="field39158904" size="50" placeholder="Email" title="Email" value="" class="fsField fsFormatEmail" />
              </div>
              </div>
              <div id="fsRow2247407-4" class="fsRow fsFieldRow fsLastRow">
              <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell39158905" lang="en">
              <label id="label39158905" class="fsLabel fsRequiredLabel" for="field39158905">School/Organization<span class="fsRequiredMarker">*</span>                    </label>
              <input type="text" id="field39158905" name="field39158905" size="50" required placeholder="School/Organization" title="School/Organization" value="" class="fsField fsRequired" aria-required="true" />
              </div>
              </div>
              <div id="fsRow2247407-5" class="fsRow fsFieldRow fsLastRow">
              <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell39158906" lang="en">
              <label id="label39158906" class="fsLabel fsRequiredLabel" for="field39158906">Zip Code<span class="fsRequiredMarker">*</span>                    </label>
              <span class="fsCurrency"></span>
              <input type="number" step="any" id="field39158906" name="field39158906"  required class="fsField fsFormatNumber fsNumberDecimals-0 fsRequired" placeholder="Zip Code" title="Zip Code" aria-required="true" />
              </div>
              </div>
              <div id="fsRow2247407-6" class="fsRow fsFieldRow fsLastRow">
              <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell39158907" lang="en">
              <label id="label39158907" class="fsLabel" for="field39158907">Phone                    </label>
              <input type="tel" id="field39158907" name="field39158907" size="20" placeholder="Phone" title="Phone" value="" class="fsField fsFormatPhoneUS " data-country="US" data-format="national" />
              </div>
              </div>
              <div id="fsRow2247407-7" class="fsRow fsFieldRow fsLastRow">
              <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell41056318" lang="en">
              <label id="label41056318" class="fsLabel" for="field41056318">How did you hear about us?                    </label>
              <select id="field41056318" name="field41056318" size="1" class="fsField">
              <option value="Film Festival">Film Festival</option>
              <option value="Another Community Screening">Another Community Screening</option>
              <option value="A Family Member or Friend">A Family Member or Friend</option>
              <option value="Social Media">Social Media</option>
              <option value="News Article">News Article</option>
              <option value="Other">Other</option>
              </select>
              </div>
              </div>
              <div id="fsRow2247407-8" class="fsRow fsFieldRow fsLastRow">
              <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell39158908" lang="en">
              <fieldset id="label39158908">
              <legend class="fsLabel fsLabelVertical hidden"><span>Stay Updated!</span></legend>
              <div class="fieldset-content">
              <label class="fsOptionLabel horizontal" for="field39158908_1"><input type="checkbox" id="field39158908_1" name="field39158908[]" value="Sign me up for the MLTS mailing list" class="fsField horizontal" />Sign me up for the MLTS mailing list</label>
              </div></fieldset>
              </div>
              </div>
              </div>
              </div>
              <div id="fsSubmit2247407" class="fsSubmit fsPagination">
              <button type="button" id="fsPreviousButton2247407" class="fsPreviousButton" value="Previous Page" style="display:none;"><span class="fsFull">Previous</span><span class="fsSlim">←</span></button>
              <button type="button" id="fsNextButton2247407" class="fsNextButton" value="Next Page" style="display:none;"><span class="fsFull">Next</span><span class="fsSlim">→</span></button>
              <input id="fsSubmitButton2247407" onClick="fbq('track', 'CompleteRegistration', {content_name: 'Host a Screening Form'});"
              class="fsSubmitButton"
              style="display: block;"
              type="submit"
              value="Submit Form" />
              <div class="clear"></div>
              </div>
              </form>
              </br>
            </div>
        </div>
    </div>
</section>
<!-- End of Host a Screening Container -->




