<!-- Host a Screening Container -->
<section class="host-a-screening-container" id="host-a-screening">
    <div class="host-a-screening-wrapper">
      <h3 class="host-screening-title">
        <a href="http://licenses.tugg.com/products/most-likely-to-succeed">Host a <span class="mlts-blue">Screening</span></a>
    </h3>
    <h2 class="host-screening-copy">
      Looking to bring change to your community? We're partnering with Tugg to bring <i>Most Likely To Succeed</i> to your school or other community venue to spark a meaningful and inspiring discussion. Visit the page below to book your screening or request a quote - a member from the Tugg team will follow up to guide you through the process of selecting the appropriate license for your needs.
      </h2>
      <center>
      <a class="tugg-button" href="https://educate.tugg.com/titles/most-likely-to-succeed" target="blank">Book a Screening via Tugg EDU</a>
      </center>
    </div>
</section>
<!-- End of Host a Screening Container -->
