<!-- Host a Screening Container -->
<section class="host-a-screening-container" id="host-a-screening">
    <div class="host-a-screening-wrapper">
      <h3 class="host-screening-title">Host a <span class="mlts-blue">Screening</span></h3>
        <h2 class="host-screening-copy">Looking to bring change to your community? Complete this form to host a screening of Most Likely To Succeed. We’re excited to help you design an event for your school community and facilitate a meaningful and inspiring discussion to re-imagine learning.</h2>

        <%= render partial: "partials/host_a_screening_form" %>
    </div>
</section>
<!-- End of Host a Screening Container -->




