<!-- Host a Screening Container -->
<section class="host-a-screening-container" id="host-a-screening">
    <div class="host-a-screening-wrapper">
        <h1 class="host-screening-title">Host a Screening</h1>
        <h2 class="host-screening-copy">Change starts with you! Fill out the form below to host a screening of Most Likely To Succeed in your community and ignite a critical conversation about what you can do to move education forward.</h2>

        <%= render partial: "partials/host_a_screening_form" %>

    </div>
</section>
<!-- End of Host a Screening Container -->




