<!-- Header Container -->
<div class="header-container" id="preview">
    <!-- Main Header -->
    <header class="main-header">
        <div class="video-wrapper">
          <video class="preview" autoplay="autoplay" loop>
            <source src="https://s3.amazonaws.com/mlts/videos/mltsHero.webm" type="video/webm">
            <source src="https://s3.amazonaws.com/mlts/videos/mltsHero.mp4" type="video/mp4">
            Your browser doesn't support HTML5 video.
          </video>
        </div>
        <div class="header-wrapper">

            <div class="header-copy center-content active">
              <h1>Most Likely To <span class="mlts-blue header-text-shadow">Succeed</span></h1>
                <ul class="header-nav">
                    <li class="trailer-items play-trailer play" data-id="122502930">
                        <span class="icon icon-play trailer-icons" data-category="Hero-section" onclick="ganalytics(this);">Watch Trailer</span>
                    </li>
                    <li id="form-hero-button" class="trailer-items screening-item"><a class="nav-scroll screenings-nav-link icon icon-moviereel trailer-icons" href="#host-a-screening" data-category="Hero-section" onclick="ganalytics(this);">Host a Screening</a></li>
                </ul>
            </div>

            <!-- Laurels -->
            <div id="laurels" class="award-show-laurels">
                <ul>
                    <li class="award-show-laurel">
                        <a target="_blank" href="https://vimeo.com/120585562">
                            <img src="https://s3.amazonaws.com/mlts/laurels/sundanceLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Sundance Film Festival laurel">
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://tribecafilm.com/filmguide/most-likely-to-succeed-2015">
                            <img src="https://s3.amazonaws.com/mlts/laurels/tribecaLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Tribeca Film Festival laurel">
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://afi.com/afidocs/features.aspx#most-likely-to-succeed">
                            <img src="https://s3.amazonaws.com/mlts/laurels/afiFestLaurel-white.svg" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="AFI Fest laurel">
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://www.siff.net/festival-2015/most-likely-to-succeed">
                            <img src="https://s3.amazonaws.com/mlts/laurels/siffLaurel-white.svg" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Seattle International Fild Festival laurel">
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://www.sarasotafilmfestival.com/">
                            <img src="https://s3.amazonaws.com/mlts/laurels/sarasotaLaurel-white.svg" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Sarasota Film Festival laurel" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://www.clevelandfilm.org/films/2015/most-likely-to-succeed">
                            <img src="https://s3.amazonaws.com/mlts/laurels/clevelandLaurel-white.svg" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Cleveland Film Festival laurel">
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://secure.dallasfilm.org/festivalfeature/id/23871675209902309">
                            <img src="https://s3.amazonaws.com/mlts/laurels/dallasLaurel-white.svg" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Dallas Film Festival laurel" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://www.fortmyersfilmfestival.com/">
                            <img src="https://s3.amazonaws.com/mlts/laurels/fmffLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Fort Myers Film Festival laurel">
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://tmvff.org/mlts/">
                            <img src="https://s3.amazonaws.com/mlts/laurels/marthasvineyardLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Martha's Vineyard Film Festival laurel" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="https://sunvalleyfilmfestival.org/film/?Most+Likely+To+Succeed">
                            <img src="https://s3.amazonaws.com/mlts/laurels/svffLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Sun Valley Film Festival laurel">
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://prod5.agileticketing.net/websales/pages/info.aspx?evtinfo=40841~f1e5aa30-a72f-4be8-84d2-d14598d9c606&epguid=57302deb-3148-4a99-8390-08416fbc6045&">
                            <img src="https://s3.amazonaws.com/mlts/laurels/montclairLaurel-white.svg" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Montclair Film Festival laurel" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://secure.dallasfilm.org/festivalfeature/id/23871675209902309">
                            <img src="https://s3.amazonaws.com/mlts/laurels/newportFILMlaurel-white.svg" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Newport FILM Festival laurel" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://www.avfilmsociety.org/">
                            <img src="https://s3.amazonaws.com/mlts/laurels/alexanderLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Alexander Valley Film Festival laurel" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://virginiafilmfestival.org/">
                            <img src="https://s3.amazonaws.com/mlts/laurels/vaLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Virginia Film Festival laurel" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://vtiff.org/">
                            <img src="https://s3.amazonaws.com/mlts/laurels/vtiffLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Vermont International Film Foundation laurel" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://vtiff.org/">
                            <img src="images/laurels/bergen.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Bergen International Film Festival" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://chesapeakefilmfestival.com/">
                            <img src="images/laurels/chesapeake.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Chesapeake Film Festival" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://www.clevelandfilm.org/">
                            <img src="images/laurels/cleveland.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Cleveland International Film Festival" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="https://mkefilm.org/">
                            <img src="images/laurels/milwaukee_laurel.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Milwaukee Film Festival" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://vtiff.org/">
                            <img src="images/laurels/monadnock.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Monadnock Film Festival" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://www.naplesfilmfest.com/">
                            <img src="images/laurels/naples.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Naples International Film Festival" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://www.newtownfilmfest.com/">
                            <img src="images/laurels/newtown.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Newtown Film Festival" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://southsidefilmfestival.com/">
                            <img src="images/laurels/southside.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Southside Film Festival" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="http://sxswedu.com/films">
                            <img src="images/laurels/sxswedu.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="SXSW EDU" />
                        </a>
                    </li>
                    <li class="award-show-laurel">
                        <a target="_blank" href="https://www.newportfilm.com/film-events/films/most-likely-succeed">
                            <img src="images/laurels/newport.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Bergen International Film Festival" />
                        </a>
                    </li>
                </ul>
            </div>


        </div>
    </header>
    <!-- End of Main Header -->

    <!-- Trailer video Container -->
    <div class="trailer-video-container">
        <span class="grid-video-close icon icon-close trailer-close" data-video=""></span>
    </div>
    <!-- End of Trailer video Container -->

</div>
<!-- End of Header Container -->

