<hr/>
<!-- Moving Forward Container -->
<section class="mf-splash-container" id="moving-forward">
    <div class="mf-splash-wrapper">
        <h1 class="mf-splash-title">Moving Forward</h1>
        <h2 class="mf-splash-copy">
          Wondering what you can do to help transform education in your community? Check out our library of resources to help you advance your expertise and become a changemaker.
          </br></br>
          Find resources to inspire hacks -- or small, innovative experiments that you can try out quickly -- to improve student learning.
        </h2>

        <center>
            <button class="mf-learn-more-button"><a href="/moving-forward/index">Learn More</a></button>
        </center>
    </div>
</section>

<!-- End of Moving Forward Container -->
