<div class="playlist-top-button-container">
  <div class="playlist-top-button">
    <a href="https://vimeo.com/237469001" data-lity>What is the Playlist?</a>
  </div>
  </br>
  <div class="playlist-top-button">
    <a class="typeform-share" href="https://mlts.typeform.com/to/iSEZ5X" data-mode="popup" style="color:#ffffff;text-decoration:underline;font-size:20px;" target="_blank">Share Your Feedback </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
  </div>
</div>
