%h2 Take Action
%p.project-intro Get your feet wet with a starter project we’ve seen work in the field, and gain experience with student-driven projects that:
%ul.bulleted-list
  %li Can be completed in hours or days.
  %li Can be done by a class, a grade, or all students,
  %li Can be done by small teams,
  %li Require students to  prepare creative and distinctive presentations for others who, in turn, ask questions and offer constructive suggestions.

%p.project-intro We’d LOVE it if you’d send a short video to <a href="mailto:info@mltsfilm.org">info@mltsfilm.org</a> describing your experience with a playlist item.  Over time, we’ll include some reflections with each challenge.

.container.playlist-chapters-container
  .row.text-center.text-lg-left
    %a{class: "project-item-container d-block mb-4 h-100"}
      .col-md-6.col-xs-12.project-item-container
        %h2 Make Your School Better
        .project-item-text
          %p Students create, analyze, justify, and present initiatives that would make your school better.  Proposals should reflect a clear vision of the idea, what’s required to make it a reality, the impact on all members of the community, and recommendations for who should make the decision about whether to proceed.  The school might then work to turn the best suggestions into a new reality for the school.
          %i (Thanks to The United States Naval Academy).
    %a{class: "project-item-container d-block mb-4 h-100"}
      .col-md-6.col-xs-12.project-item-container
        %h2 Heroes
        .project-item-text
          %p Students identify someone they view as a hero (could be in all walks of life, could be from a given subject, could be specific to gender or race).  Students develop and make presentations designed to  convince others that this person is a hero, addressing the person’s contributions to society, and why this person meets the students’ definition of what constitutes a hero.
          %i (Thanks to Acton Academy, Austin, Texas).
    %a{class: "project-item-container d-block mb-4 h-100"}
      .col-md-6.col-xs-12.project-item-container
        %h2 What Do You Want To Learn?
        .project-item-text
          %p Ask students for suggestions about what they want to learn (by subject area, or open ended), submitted in creative ways (e.g., post-it notes on a wall, a shared doc, whatever).  Student teams analyze suggestions for patterns and commonalities, recommend priorities with their rationale, suggest how to carry this forward, and present to others.  Ideally, find a block of time  (maybe a Friday afternoon) for pop-up sessions led by volunteers (students, adults).
          %i (Thanks to Steve Staples, Superintendent of Public Instruction, State of Virginia).
    %a{class: "project-item-container d-block mb-4 h-100"}
      .col-md-6.col-xs-12.project-item-container
        %h2 DSC (Do Something Cool)
        .project-item-text
          %p Students have a block of time (24-48 hours) to do something they’re excited about and that, in ways they articulate, make their world better.  Ideally, DSC time precedes a homework-free weekend, letting students build on momentum.  Students present their DSC initiative to classmates and/or a broader community.
          %i (Thanks to African Leadership Academy, Johannesburg, South Africa).
    %a{class: "project-item-container d-block mb-4 h-100"}
      .col-md-6.col-xs-12.project-item-container
        %h2 Underutilized Space
        .project-item-text
          %p Students Identify a space in your school that they believe could be better utilized. Prepare and present your proposal that includes the reimagined use, what’s required to transform the space, how it would contribute, how to make this proposal happen, and a proposal for how the school should decide on the recommendation.
          %i (Thanks to Bismarck, North Dakota Public Schools, Buck Institute national award winner, 2017).
    %a{class: "project-item-container d-block mb-4 h-100"}
      .col-md-6.col-xs-12.project-item-container
        %h2 Write a Children's Book
        .project-item-text
          %p Students write a children’s book on a topic they love and know about (for a given subject, or on any topic).  Have classmates review drafts, suggest titles, and propose artwork for the cover.  Students present their books in an exhibition.  Brainstorm about how to publish these books and have them reach appropriate local organizations (schools, hospitals, doctors/dentists offices, foster care centers). With their book, have students teach other children (perhaps much younger children) and then reflect on what it means to teach.
          %i (Thanks to Compton Unified School District, California).
