.project-intro-container
  %h2 Take Action
  %p
    Challenging projects engage students, and help them develop essential competencies, innovative mindsets, and creative confidence.  These bite-size projects are tied to the real world, cut across disciplines, and can be done in a few hours or days.  Each calls for students to present their work to others, who offer constructive suggestions (see the
    %a{href:"/playlist/tracks/6"} Share Your Learning
    playlist item.
  %p
    We’d love for you to create a 1-2 minute video capturing your reflections after you “Try a Project,” and email it to us at
    %a{href:"mailto:info@mltsfilm.org"} info@mltsfilm.org.
    We’ll curate submissions and use them to help others learn from your insights.

%div{id: "project-1", class: "project-content"}
  %p
    %span.project-heading How Might We Improve Our School?
    %i (Inspired by U.S. Naval Academy):
    Students take on this question:
    %i How Might We Improve our School?
    Through discussion, interviews, and observations, students identify opportunities to improve their school, and work in teams to develop specific initiatives that they propose to the class. These initiatives should reflect a clear vision of the idea, its impact on their school community, and the steps needed for approval.
  %p
    %span.project-heading Set Up:
    Students form small teams. Students have the opportunity to draw on input from group discussion, or by interviewing teachers, administrators, community members, or other students.  Allow 2-4 class periods to identify and develop improvement proposals. Students present proposals at a later time.
  %h2 Bigger Bites:
  %ul.bulleted-list
    %li Challenge students to arrive at a mechanism for setting priorities among various initiatives, and then use this process to form recommendations.
    %li Have students build out their ideas and make them real in the school.

%div{id: "project-2", class: "project-content"}
  %p
    %span.project-heading Heroes
    %i (Inspired by Acton Academy):
    Students hold a class discussion, brainstorm, or
    %a{href: "http://mltsfilm.org/playlist/tracks/4", target:"blank"} socratic seminar
    on what makes someone a hero. Students identify someone they regard as a real-life hero. Students (alone or in small groups) then develop presentations that support why they selected this person as a ‘hero.’

  %p
    %span.project-heading Set Up:
    Students take on the following question “What makes someone a hero?” Ask them to reflect on this question over the next several days in preparation for a whole-group discussion.  When students have determined the qualities and traits of a hero, have them brainstorm specific heros that match these characteristics and then collaboratively develop their presentations.  At a later time,they present their work (a class period, a public exhibition).
  %h2 Bigger Bites:
  %ul.bulleted-list
    %li Students create something (e.g., a slideshow, essay, video, song, poem) that captures the essence of their ‘hero.’
    %li Students collaborate to agree on a hero theme (e.g., fallen soldiers, social workers, ancestors) for a classwide project about certain types of heroes in their community.  As a class, they produce something that honors heroes who had such a positive impact on their community.
    %li Students craft “a gift” for their heroes that represents why they believe this person is a hero.  If possible, students invite their hero to class to give their gift to them (skype/facetime are options, too).

%div{id: "project-3", class: "project-content"}
  .row.margin-bottom-10
    .col-lg-8.col-md-6
      %p
        %span.project-heading What Do You Want to Learn?
        Students submit suggestions (via post-its, a shared doc, etc.) on topics they want to learn more about.  In small groups, students synthesize and cluster the ideas based on common themes and topics. Then, these small groups develop a plan to carry this forward, and present their action plan to others.
        %p For an example of "What do you Want to Learn" in action, watch this short video featuring Steve Staples, Virginia's Superintendent of Public Instruction.
    .col-lg-4.col-md-6
      = render "partials/embedded_vimeo_player", vimeo_id: 250501040
  %p
    %span.project-heading Set Up:
    Allow several days for students to submit their choices. Then, create a class period where small student teams review suggestions and develop their proposed approaches.
  %h2 Bigger Bites:
  %ul.bulleted-list
    %li Give students an opportunity to make this idea a reality (e.g., a Friday afternoon for pop-up sessions led by volunteer students, teachers, administrators, parents, or community experts).
    %li Create moments where students can share their understanding of their chosen topic. Students can share feedback to each other utilizing a feedback protocol such as “I Like…, I Wish…, I Wonder…”

%div{id: "project-4", class: "project-content"}
  %p
    %span.project-heading DSC -- Do Something Cool
    %i (Inspired by African Leadership Academy):
    Students have a block of time (24-48 hours) to do something they’re excited about and that, in ways they articulate, makes their world better.  Ideally, DSC time is followed by a homework-free weekend, letting students build on momentum.
  %p
    %span.project-heading Set Up:
    Create a space and provide time for students to participate in a high-energy brainstorm session to cultivate and build on their ideas. Set aside time for students interested in working in small groups to find like-minded collaborators. At a later time (a class period, a public exhibition), students present their DSC initiatives.
  %h2 Bigger Bite:
  %ul.bulleted-list
    %li Turn these into capstone projects, ideally awarding credit for accomplishment.

%div{id: "project-5", class: "project-content"}
  %p
    %span.project-heading Underutilized Space
    %i (inspired by Legacy High School, Bismarck, North Dakota):
    During a class period, students take a Discovery Walk around campus, observing and taking notes on “dead” spaces -- nooks & crannies, intersections, wall sections, dark corners, blank areas, or rooms.  Students interview potential users and integrate this input into how underutilized space could be reimagined and put to far better use.  In small groups, students explore/research creative spaces (e.g., museums, parks) to spark inspiration for how to redesign these “dead spaces” on campus.
  %p
    %span.project-heading Set Up:
    Students have a class period for their Discover walk, a class period to work in teams to brainstorm and create proposals, and a subsequent time to present proposals.  Students may need materials such as notepads or butcher paper.
  %h2 Bigger Bites:
  %ul.bulleted-list
    %li Give students the opportunity to reach consensus on which proposals merit priority, gain approval from appropriate constituencies, and make these proposals real.
    %li Students create sketches and prototypes to test and get feedback on their ideas in the real world.
    %li Students continue to work through the Design cycle (prototype, iterate, test) until they have final ‘product’ that lives in the school.

%div{id: "project-6", class: "project-content"}
  %p
    %span.project-heading Questions, Not Answers
    %i (Inspired by Eric Mazur, Harvard University):
    Have students work collaboratively to develop and generate deep, meaningful questions around a topic they’ve studied in your class this year. Students share their questions with the class.  Then, students work in small teams to consolidate and prioritize on what they view as the most insightful questions, and report out to the class with what they selected, and why.
  %p
    %span.project-heading Set Up:
    Provide time and various exercises to help your students create questions around these topics of study.  Have students add and populate their questions in a gallery walk setup around the room. Students can see other questions generated, as well as build upon their curiosities.
  %h2 Bigger Bites:
  %ul.bulleted-list
    %li Each group prioritizes on their best questions, lays out their criteria for “what makes for a great question,” addresses the issue of the relative importance of questions versus answers in a world with Google, and presents their findings to the rest of the class.
    %li Make this a daily practice.
    %li Have students develop test questions (based on their learnings around what makes a ‘meaningful’ question) for their next exam, discussion, or Socratic Seminar.

%div{id: "more-resources", class: "project-content"}
  %h2 More Resources
  %p
    Over the past two decades, many organizations have done impressive work to integrate project-based learning into our schools.  To learn more about project-based learning, check out this
    %a{target: "blank", href:"https://drive.google.com/file/d/0B3gHTRZxhj74Y0VHc2Z6eEJuRms/view"} article
    and
    %a{target: "blank", href:"http://www.bie.org/object/video/project_based_learning_explained"} video.
    If you’re looking to go further, get to know these organizations:
  %ul.bulleted-list
    %li
      %a{target: "blank", href:"http://www.bie.org/"} Buck Institute of Education
      , including
      %a{target: "blank", href:"https://drive.google.com/drive/folders/0B3gHTRZxhj74ODJxbDdxNC1zdVE"} this set
      of month-long PBL offerings.
    %li
      %a{target: "blank", href:"https://newtechnetwork.org/"} New Tech Network
    %li
      %a{target: "blank", href:"https://eleducation.org/"} EL Education
    %li
      Try a one-hour
      %a{target: "blank", href:"https://drive.google.com/open?id=1u0QeRG7pNRTJ1uysDtOChPd5cm8xyw32"} Performance Task
      designed by the educators at
      %a{target: "blank", href:"http://www.tworiverspcs.org/"} Two Rivers Charter School
      in Washington, D.C.
    %li
      %a{target: "blank", href:"http://www.diy.org/"} DIY Bootcamp
    %li
      %a{target: "blank", href:"http://www.bigpicture.org/"} Big Picture Learning

.container-fluid.try-a-project-buttons
  .row
    .project-item-wrapper
      %div{class: "yellow init col-md-4 col-xs-6 project-button project-item-container", "data-related": "project-1"}
        .sticky-note-topbar.yellow
        %h2 Improve Our School
        %p Short description of this project goes here.
    .project-item-wrapper
      %div{class: "green init col-md-4 col-xs-6 project-button project-item-container", "data-related": "project-2"}
        .sticky-note-topbar.green
        %h2 Heroes
        %p Short description of this project goes here.
    .project-item-wrapper
      %div{class: "pink init col-md-4 col-xs-6 project-button project-item-container", "data-related": "project-3"}
        .sticky-note-topbar.pink
        %h2 What Do You Want To Learn?
        %p Short description of this project goes here.
    .project-item-wrapper
      %div{class: "blue init col-md-4 col-xs-6 project-button project-item-container", "data-related": "project-4"}
        .sticky-note-topbar.blue
        %h2 DSC: Do Something Cool
        %p Short description of this project goes here.
    .project-item-wrapper
      %div{class: "orange init col-md-4 col-xs-6 project-button project-item-container", "data-related": "project-5"}
        .sticky-note-topbar.orange
        %h2 Underutilized Space
        %p Short description of this project goes here.
    .project-item-wrapper
      %div{class: "teal init col-md-4 col-xs-6 project-button project-item-container", "data-related": "project-6"}
        .sticky-note-topbar.teal
        %h2 Questions, Not Answers
        %p Short description of this project goes here.

  %div{class: "project-button more-resources-button", "data-related": "more-resources"}
    %p
      %a More Resources
