%h2 Take Action
%p.project-intro Challenging projects engage students, and help them develop essential competencies, innovative mindsets, and creative confidence.  These bite-size projects are tied to the real world, cut across disciplines, and can be done in a few hours or days.  Each calls for students to present their work to others, who in turn ask questions and offer constructive suggestions -- so draw on our Share Your Learning playlist item.
%p.project-intro We’d love for you to create a 1-2 minute video capturing your reflections after you “Try a Project,” and email it to us at <a href="mailto:info@mltsfilm.org">info@mltsfilm.org</a>.  We’ll curate submissions and use them to help others learn from your insights.

.container
  .row
    .project-item-wrapper
      %div{class: "blue col-md-4 col-xs-6 project-item-container", "data-related": "project-1"}
        %h2 Improve Your School
    .project-item-wrapper
      %div{class: "green col-md-4 col-xs-6 project-item-container", "data-related": "project-2"}
        %h2 Heroes
    .project-item-wrapper
      %div{class: "yellow col-md-4 col-xs-6 project-item-container", "data-related": "project-3"}
        %h2 What Do You Want To Learn?
    .project-item-wrapper
      %div{class: "orange col-md-4 col-xs-6 project-item-container", "data-related": "project-4"}
        %h2 DSC (Do Something Cool)
    .project-item-wrapper
      %div{class: "red col-md-4 col-xs-6 project-item-container", "data-related": "project-5"}
        %h2 Underutilized Space
    .project-item-wrapper
      %div{class: "purple col-md-4 col-xs-6 project-item-container", "data-related": "project-6"}
        %h2 Questions, Not Answers
    .project-item-wrapper
      %div{class: "teal col-md-4 col-xs-6 project-item-container", "data-related": "other-resources"}
        %h2 Other Resources


%div{id: "project-1", class: "project-content"}
  %h2 Improve Your School (Inspired by U.S. Naval Academy)
  %p Students create, analyze, justify, and present initiatives that could improve your school.  Proposals should reflect a clear vision of the idea, what’s required to make it a reality, its impact on all community members, and recommendations for how the school should decide whether to carry a suggestion forward.
  %h2 Set Up
  %p Students form small teams and are given 1-2 class periods to take this on.  At a later time (a class period, a public exhibition), they present their proposals.
  %h2 Bigger Bites
  %ul.bulleted-list
    %li Students collaborate to build consensus on which suggestions merit highest priority, including setting ground rules for collective decision-making.
    %li Students work in teams to turn priority suggestions into a new reality for the school.

%div{id: "project-2", class: "project-content"}
  %h2 Heroes (Inspired by Acton Academy)
  %p Students identify someone they regard as a hero (could be from any walk of life, from a given field, or a specific gender or ethnicity).  Student presentations lay out criteria for what constitutes being a ‘hero,’ why they selected this person, and how this hero contributed to society.
  %h2 Set Up
  %p Describe this challenge to students a few days in advance, allowing them to reflect on it.   We recommend that students work in small groups, and collaborate to reach a consensus on which hero to feature, but this could be done individually.  Students have 1-2 class periods to develop their presentations.  At a later time (a class period, a public exhibition), they present their work.
  %h2 Bigger Bites
  %ul.bulleted-list
    %li Do a whole-group discussion/brainstorm on what makes a person a hero in today’s world.
    %li Students create something (e.g., a slide show, essay, video, song, poem) that captures the essence of their ‘hero.’
    %li Students craft “a gift” for their heroes that represents why they believe this person is a hero.  If possible, students invite their hero to class to give their gift to them (skype/facetime are options, too).

%div{id: "project-3", class: "project-content"}
  %h2 What Do You Want to Learn? (Inspired by Steve Staples, Superintendent of Public Instruction, State of Virginia)
  %p Ask students for suggestions about what they want to learn, and for recommendations for how to submit suggestions (e.g., post-it notes on a wall, a shared doc).  Students organize into small teams to analyze suggestions for patterns and commonalities, set priorities consistent with criteria they establish, develop a plan to carry this forward, and present their findings and plan to others.
  %h2 Set Up
  %p Allow several days for students to submit suggestions.  Then, allow a class period for small student teams review suggestions and develop their proposed approaches.
  %h2 Bigger Bites
  %ul.bulleted-list
    %li Agree on and implement a way to make this idea real (e.g., a Friday afternoon for pop-up sessions led by volunteer students, teachers, administrators, parents, or community experts).
    %li Have each student lead a session to teach others about a topic -- perhaps something on which the student has expertise, or even something the student initially knows little about.  Then have students share their reflections on teaching and learning.

%div{id: "project-4", class: "project-content"}
  %h2 DSC -- Do Something Cool (Inspired by African Leadership Academy)
  %p Students have a block of time (24-48 hours) to do something they’re excited about and that, in ways they articulate, makes their world better.  Ideally, DSC time is followed by a homework-free weekend, letting students build on momentum.
  %h2 Set Up
  %p Allow at least a week for students to brainstorm about ideas.  Set aside time for students interested in working in small groups to find like-minded collaborators. At a later time (a class period, a public exhibition), students present their DSC initiatives.
  %h2 Bigger Bites
  %ul.bulleted-list
    %li Turn these into capstone projects, ideally awarding credit for accomplishment.

%div{id: "project-5", class: "project-content"}
  %h2 Underutilized Space (inspired by Legacy High School, Bismarck, North Dakota)
  %p Students take a discovery walk and observe “dead” spaces around campus -- nooks & crannies, intersections, wall sections, dark corners, blank areas, or rooms.  Students interview potential users and integrate input into proposals that address a) a reimagined use of the space, b) what’s required to transform it, c) its impact, d) how the school should decide whether to proceed.
  %h2 Set Up
  %p Students have a class period for their Discover walk, a class period to work in teams to brainstorm and create proposals, and a subsequent time to present proposals.  Students may need materials such as notepads or butcher paper.
  %h2 Bigger Bites
  %ul.bulleted-list
    %li Instead of sketches, build/make a physical prototype of the reimagined space (legos, cardboard, etc).
    %li Give students the opportunity to reach consensus on which proposals merit priority, gain approval from appropriate constituencies, and make these proposals real.

%div{id: "project-6", class: "project-content"}
  %h2 Questions, Not Answers (Inspired by Eric Mazur, Harvard University)
  %p Have students create thought-provoking questions about a topic in your class.  Students work in small teams, review the topic (e.g.,a reading passage, a history lesson, a math or science concept), and work together to generate interesting questions which they then present to the class.
  %h2 Set Up
  %p This can be done in tiny chunks of time -- as short as 10 minutes.  You might have students spend a few minutes on their own coming up with questions, then work in small teams to brainstorm, consolidate, and prioritize.  ‘Presentations’ can be as simple as each group reporting out its questions.
  %h2 Bigger Bites
  %ul.bulleted-list
    %li Each group prioritizes on their best questions, lays out their criteria for “what makes for a great question,” addresses the issue of the relative importance of questions versus answers in a world with Google, and presents their findings to the rest of the class.
    %li Make this a daily practice.
    %li Base part of a student’s course grade on the ability to generate questions.
    %li Replace an upcoming exam with this challenge to students -- create your own test to determine student mastery of the material.

%div{id: "other-resources", class: "project-content"}
  %h2 Other Resources
  %p
    Over the past two decades, many organizations have done impressive work to integrate project-based learning into our schools.  To learn more about project-based learning, check out this
    %a{target: "blank", href:"https://drive.google.com/file/d/0B3gHTRZxhj74Y0VHc2Z6eEJuRms/view"} article
    and
    %a{target: "blank", href:"http://www.bie.org/object/video/project_based_learning_explained"} video.
    If you’re looking to go further, get to know these organizations:
  %ul.bulleted-list
    %li
      %a{target: "blank", href:"http://www.bie.org/"} Buck Institute of Education
      , including
      %a{target: "blank", href:"https://drive.google.com/drive/folders/0B3gHTRZxhj74ODJxbDdxNC1zdVE"} this set
      of month-long PBL offerings.
    %li
      %a{target: "blank", href:"https://newtechnetwork.org/"} New Tech Network
    %li
      %a{target: "blank", href:"https://eleducation.org/"} EL Education
    %li
      %a{target: "blank", href:"http://www.tworiverspcs.org/"} Two Rivers
    %li
      %a{target: "blank", href:"http://www.diy.org/"} DIY Bootcamp
    %li
      %a{target: "blank", href:"http://www.bigpicture.org/"} Big Picture Learning
