<script src="//maps.google.com/maps/api/js?v=3.25&key=AIzaSyDmFUNlvJlxVV7ahDAV4kWLB3vom6Ttr9w&callback=drawGoogleMap" async defer></script>

<% cache(["screening_map_and_list", @screenings.map(&:id), @screenings.maximum(:updated_at)]) do %>
<script>
    var drawGoogleMap = function() {
      var markers = <%=raw @markers.to_json %>;
      handler = Gmaps.build('Google', { markers: { clusterer: undefined  }});
      handler.buildMap({ provider: {scrollwheel: false}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(markers);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    };
</script>

<!-- Screening Container -->
<section class="screening-container" id="screenings">
    <div id="tourscreenings"></div>
    <div id="communityscreenings"></div>
    <div class="screening-wrapper">
      <h3>Upcoming Screenings</h3>

      <div class='screening-map' style='width: 100%;'>
        <div id="map" style='width: 100%; height: 400px;'></div>
      </div>

        <div class="screening-table" data-category="Screening Section" data-label="Host Screenings List">
            <table class="screening-tablerow">
              <tbody>
                  <%= render @screenings.sort_by(&:screening_time) %>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End of Screenings Container -->
<% end %>
