<!-- Grid Container -->
<section class="grid-container" id="education-facts">
    <ul class="grid-wrapper">
        <li class="grid-item grid-image grid-1 video2 grid-play-video" data-id="">
            <div class="grid-shadow"></div>
            <div class="grid-item-container">
                <figure class="grid-text-container" data-category="Grid Section:Grid Video">
                    <figcaption class="grid-video-descript">
                        <h4 class="video-name">MLTS at Sundance 2015</h4>
                    </figcaption>
                    <div class="grid-text-center">
                        <span class="icon icon-play grid-play-icon"></span>
                    </div>
                </figure>
            </div>
        </li>
        <li class="grid-item grid-text grid-2">
            <div class="grid-item-container">
                <div class="grid-text-container">
                    <div class="grid-text-center">
                        <p class="grid-text-copy fact1" data-image="">Respondents with high 21st century skill development are twice as likely to achieve excellence in work quality.</p>
                        <ul class="social-icons">
                            <li class="social-icon-items" data-category="Grid Section:Twitter Share Quote"><span class="icon icon-twitter-fill twitter-grid-share"></span></li>
                            <li class="social-icon-items" data-category="Grid Section:FB Share Quote"><span class="icon icon-facebook-fill facebook-grid-share"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="grid-item grid-image grid-3 video3 grid-play-video" data-id="">
            <div class="grid-shadow"></div>
            <div class="grid-item-container" data-category="Grid Section:Grid Video">
                <figure class="grid-text-container">
                    <figcaption class="grid-video-descript">
                        <h4 class="video-name">Linda Darling-Hammond</h4>
                        <h5 class="video-descript">Charles E. Ducommun Professor of Education</h5>
                    </figcaption>
                    <div class="grid-text-center">
                        <span class="icon icon-play grid-play-icon"></span>
                    </div>
                </figure>
            </div>
        </li>
        <li class="grid-item grid-text grid-4">
            <div class="grid-item-container">
                <div class="grid-text-container">
                    <div class="grid-text-center">
                        <p class="grid-text-copy fact2" data-image="">78% of U.S. adults agree that college graduates aren't developing the skills needed for the 21st-century workplace. "If the U.S. fails to develop a more talented workforce, it will fall behind other countries," according to a Gallup-Lumina Foundation poll.</p>
                        <ul class="social-icons">
                            <li class="social-icon-items" data-category="Grid Section:Twitter Share Quote"><span class="icon icon-twitter-fill twitter-grid-share"></span></li>
                            <li class="social-icon-items" data-category="Grid Section:FB Share Quote"><span class="icon icon-facebook-fill facebook-grid-share"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="grid-item grid-image grid-5">
            <div class="grid-item-container">
                <div class="grid-text-container">
                    <ul class="social-icons poster-icons">
                        <li class="social-icon-items" data-category="Grid Section" data-label="Twitter Poster Share"><span class="icon icon-twitter-fill twitter-poster-share"></span></li>
                        <li class="social-icon-items" data-category="Grid Section" data-label="FB Poster Share"><span class="icon icon-facebook-fill facebook-poster-share"></span></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="grid-item grid-text grid-6">
            <div class="grid-item-container">
                <div class="grid-text-container">
                    <div class="grid-text-center">
                        <p class="grid-text-copy fact4" data-image="">No longer does learning have to be one-size-fits-all or confined to the classroom.</p>
                        <ul class="social-icons">
                            <li class="social-icon-items" data-category="Grid Section" data-label="Twitter Share Quote"><span class="icon icon-twitter-fill twitter-grid-share"></span></li>
                            <li class="social-icon-items" data-category="Grid Section" data-label="FB Share Quote"><span class="icon icon-facebook-fill facebook-grid-share"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="grid-item grid-image grid-9 video4 grid-play-video" data-id="">
            <div class="grid-shadow"></div>
            <div class="grid-item-container" data-category="Grid Section:Grid Video">
                <figure class="grid-text-container">
                    <figcaption class="grid-video-descript">
                        <h4 class="video-name">Karen Bruett</h4>
                        <h5 class="video-descript">Special Advisor for EdLeader21</h5>
                    </figcaption>
                    <div class="grid-text-center">
                        <span class="icon icon-play grid-play-icon"></span>
                    </div>
                </figure>
            </div>
        </li>
        <li class="grid-item grid-text grid-8">
            <div class="grid-item-container">
                <div class="grid-text-container">
                    <div class="grid-text-center">
                        <p class="grid-text-copy fact3" data-image="">Just 14% of Americans - and only 11% of business leaders - strongly agree that graduates have the necessary skills and competencies to succeed in the workplace.</p>
                        <ul class="social-icons">
                            <li class="social-icon-items" data-category="Grid Section:Twitter Share Quote"><span class="icon icon-twitter-fill twitter-grid-share"></span></li>
                            <li class="social-icon-items" data-category="Grid Section:FB Share Quote"><span class="icon icon-facebook-fill facebook-grid-share"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="grid-item grid-image grid-7 video5 grid-play-video" data-id="">
            <div class="grid-shadow"></div>
            <div class="grid-item-container" data-category="Grid Section:Grid Video">
                <figure class="grid-text-container">
                    <figcaption class="grid-video-descript">
                        <h4 class="video-name">Ted Dintersmith</h4>
                        <h5 class="video-descript">Venture capitalist focused on education issues</h5>
                    </figcaption>
                    <div class="grid-text-center">
                        <span class="icon icon-play grid-play-icon"></span>
                    </div>
                </figure>
            </div>
        </li>
        <li class="grid-item grid-text grid-10">
            <div class="grid-item-container">
                <div class="grid-text-container">
                    <div class="grid-text-center">
                        <p class="grid-text-copy fact5" data-image="">"...Grades may not reflect other important qualities, like creativity or the ability to think independently."</p>
                        <ul class="social-icons">
                            <li class="social-icon-items" data-category="Grid Section:Twitter Share Quote"><span class="icon icon-twitter-fill twitter-grid-share"></span></li>
                            <li class="social-icon-items" data-category="Grid Section:FB Share Quote"><span class="icon icon-facebook-fill facebook-grid-share"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li class="grid-item grid-image grid-11 video6 grid-play-video" data-id="">
            <div class="grid-shadow"></div>
            <div class="grid-item-container" data-category="Grid Section:Grid Video">
                <figure class="grid-text-container">
                    <figcaption class="grid-video-descript">
                        <h4 class="video-name">Freeman Hrabowski</h4>
                        <h5 class="video-descript">President of the University of Maryland, Baltimore County</h5>
                    </figcaption>
                    <div class="grid-text-center">
                        <span class="icon icon-play grid-play-icon"></span>
                    </div>
                </figure>
            </div>
        </li>
        <li class="grid-item grid-text grid-12">
            <div class="grid-item-container">
                <div class="grid-text-container">
                    <div class="grid-text-center">
                        <p class="grid-text-copy fact6" data-image="">"We've found one question to be a great predictor of student outcomes: 'Tell us about a problem you observed in your community, and what you did to address it.' Their answers to this question speak volumes about passion, purpose, and resilience."</p>
                        <ul class="social-icons">
                            <li class="social-icon-items" data-category="Grid Section:Twitter Share Quote"><span class="icon icon-twitter-fill twitter-grid-share"></span></li>
                            <li class="social-icon-items" data-category="Grid Section:FB Share Quote"><span class="icon icon-facebook-fill facebook-grid-share"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>
<!-- End of Grid Container -->

<!-- Vimeo iframe container -->
<span class="grid-video-container">
  <span class="grid-video-close icon icon-close close" data-video=""></span>
</span>
<!-- End of Vimeo iframe container -->
