// =======================
// $Base Styles
// =======================
html{
  height: 100%;

  &.video-open{
    overflow: hidden;
  }
}

body{
  font-family: $sans-ultra-light;
  font-size: 90%;
  height: 100%;
  color: white;

  @include larger-than(medium) {
    font-size: 100%;
    }
}

section{
  margin: 0 auto;
}

h2 {
  letter-spacing: 0.05em;
}

// =======================
// Basic Template Styles
// =======================
.wrapper{
  max-width: 1400px;
  color: $light-grey;
  padding: 4em 0;
  width: 80%;
  margin: 0 auto;
  text-align: center;

  @include larger-than(medium) {
      padding: 6em 0;
      width: 70%;
    }
}

.big-wrapper{
  @extend .wrapper;
  max-width: 1800px;

  @include larger-than(medium) {
    width: 80%;
    padding-bottom: 0;
  }
}
