<section class="c10-container">
  <img src="images/c10/c10_white.jpg" class="c10-image"/>
  <div class="c10-wrapper">
    <center>
      <h3>Form Your Own</br> <span class="mlts-blue">Committee of Ten (C10)</span></h3>
    </center>
    <p>In 1893, leading educators formed the Committee of Ten (C10) to design a school model to prepare children for assembly-line jobs.  Those jobs have vanished, but the C10’s model still rules the day in American education.  We need to reimagine school for the 21st century.</p>
    <p>And you can help!  Here’s our challenge to you:  Form your own Committee of Ten — your own coalition of parents, teachers, administrators, and students who want to help your school reach its full potential.  To help you assemble your own energized C10, we’re providing a way for you and nine of your colleagues to see the film Most Likely to Succeed for an all-in price of just $15. The film - an official selection of Sundance, Tribeca, AFI, and twenty-five other major films festivals -- has inspired audiences in more than 4,000 communities around the world.  Here’s how this offer works:</p>

     <ul class="bulleted-list">
      <li>Extend to nine other potential change agents the opportunity to view <i>Most Likely to Succeed</i>. Need help recruiting? You'll find tips and a sample invite <a href="https://docs.google.com/document/d/1UEmRDAc8yJdo0ARsToi_F-QW2YQI3toN9dsIdylpIJQ/edit?usp%3Dsharing&amp;sa=D&amp;ust=1513010172974000&amp;usg=AFQjCNGqD8ytU4gE4WnLXglCbf9bDJp-nw">here</a></span><span class="c10 c14 c1">. </span></li>
      <li>Purchase your month-long rental <a target="blank" href="http://licenses.tugg.com/products/mlts-committee-of-ten">here</a>.</li>
      <li>Share the link with your nine other C10 members, who can watch it any time during the rental period.</span></li>
      <li>After everyone has had a chance to watch the film, meet to brainstorm how it can help your community reimagine what school could be.</span></li>
      <li>Consider organizing a school-wide <a target="blank" href="http://licenses.tugg.com/products/most-likely-to-succeed">community screening</a></span><span class="c1">, with help from <a target="blank" href="http://toolkit.mltsfilm.org/">these resources</a></span><span class="c10 c14 c1">. </span></li>
      <li>Draw on our <a target="blank" href="http://www.mltsfilm.org/playlist">Innovation Playlist</a> to help your school embrace a culture of innovation, trusting and empowering your teachers to take small steps that lead to big change.</span></li>
    </ul>

    <p>Nothing is more important today than fighting for the best possible education for your students. Our kids depend on us to make good decisions on their behalf. Don’t dawdle.</p>
    <p>Form your own C10 today, and bring energy and purpose to the aspirational goal of helping your school be all that it could be.</p>
    <center>
      <a class="tugg-button c10-button" href="http://licenses.tugg.com/products/mlts-committee-of-ten">Purchase Now</a>
    </center>
    <h2>Frequently Asked Questions:</h2>

  <div id="accordion" class="c10-faq" role="tablist" aria-multiselectable="true">
    <div class="card screening-option-box">
      <a target="blank" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            + Why Should I Form a Committee of Ten (C10)?
          </h5>
        </div>
      </a>
      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <p>Many people realize that our schools are stuck in time, but it’s challenging to change an existing school.  By forming your C10, you can assemble a like-minded team to help your school make progress.   This C10 offering isn’t intended for institutional viewing – for bigger audiences, you can license the film <a target="blank" href="https://edu.tugg.com/products/most-likely-to-succeed" target="blank"class="underline">here</a>. But an energized C10 can work constructively with school leaders, and support their efforts to effect positive change.</p>
          <center>
            <a class="tugg-button" href="http://licenses.tugg.com/products/most-likely-to-succeed">Learn More</a>
          </center>
        </div>
      </div>
    </div>
    <div class="card screening-option-box">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            + What if I can’t find nine other people to join my committee?
          </h5>
        </div>
      </a>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
          <p>You can share the screening link with up to nine additional viewers, but no problem if a smaller number of people commit.</p>
        </div>
      </div>
    </div>
    <div class="card screening-option-box">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
            + Can we stop and start the film and/or watch it several times?
          </h5>
        </div>
      </a>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block">
          <p>Yes.  You and your C10 colleagues can rewatch the film (all or particular sections) as often as you want within your screening month.
        </div>
      </div>
    </div>
    <div class="card screening-option-box">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <div class="card-header" role="tab" id="headingFour">
          <h5 class="mb-0">
            + How much does it cost?
          </h5>
        </div>
      </a>
      <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="card-block screening-faq-wrapper">
          <p>$15 for a month-long rental for up to 10 viewers.</p>
        </div>
      </div>
    </div>
    <div class="card screening-option-box">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <div class="card-header" role="tab" id="headingFour">
          <h5 class="mb-0">
            + Why isn’t the film available on sites like iTunes, Netflix, and GooglePlay?
          </h5>
        </div>
      </a>
      <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="card-block screening-faq-wrapper">
          <p>We strongly believe that this film is a powerful way to bring a community together in thoughtful discussion and aspirational action.  In the spirit of innovation that we encourage schools to embrace, we’re offering an innovative way to view and share the film – one that we hope fosters community, collaboration and productive discourse.  It’s like a book club, but with a ninety-minute film.  And instead of a one-and-done conversation, it’s the start of a process that has the power to transform school as you know it!  And even if you watch it on your own, its cost is less than a movie ticket and popcorn.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
