<section class="faq-container" id="community-screening-faq">
    <div class="faq-wrapper">
        <div class="faq-heading">
            <h1 id="faq-heading">Community Screening FAQs</h1>
        </div>
        <div class="faq-content">
            <h2>What are the steps to hosting a screening?</h2>
            <ol>
                <li>Once you've chosen a date and venue for your event, <a href="http://www.mltsfilm.org/admin/sites/1/pages/1/edit#host-a-screening" class="view-form">submit a request here.</a>
                </li>
                <li>We will send you our screening licensing form so you can purchase the rights to show the film and book your screening.</li>
                <li>Once you've completed the form, our team will confirm your license and send you a digital screening toolkit, which you will use plan, promote and post your event online. You will receive a DVD one week prior to your screening.</li>
                <li>After your screening, we will ask you to give us feedback on your event and return the DVD.</li>
            </ol>
            <h2>How much does it cost to host a community screening?</h2>
            <p>The screening licensing fee for a single community screening is $350 plus shipping. Organizations screening the film are responsible for any costs associated with the local screening venue.</p>
            <h2>How can I defray the cost of hosting a screening?</h2>
            <p>Feel free to charge admission and/or accept donations at your event. We suggest organizations use the screening as a fundraiser to help launch innovation in their local schools.</p>
            <h2>What does the screening license include?</h2>
            <p>The screening license includes the one-time use of a loaned BluRay or DVD, as well as our digital screening toolkit (event planning guide, discussion guide, and promotional materials).</p>
            <h2>What if I want to host more than one screening?</h2>
            <p>If you would like to host multiple screenings, you will need to pay a licensing fee for each screening. If you want to host 3 or more screenings, contact us for a bulk discount.</p>
            <p>We also offer an MLTS Scholarship Fund (geared towards low-income schools and organizations) to help cover the cost of the licensing fee. Email leah@mltsfilm.org for more information and how to apply.</p>
            <h2>Can the filmmakers come to our screening?</h2>
            <p>Due to demand, those involved in the film aren't able to attend every screening; however, if you are able to cover speaker fees and travel costs, please contact leah@mltsfilm.org to discuss options.</p>
            <h2>Can I purchase a copy of the film to keep?</h2>
            <p>The film is not yet available for individual purchase. To stay tuned on when it will be released, sign up for our <a href="http://www.mltsfilm.org/admin/sites/1/pages/1/edit#signup">mailing list</a>.</p>
            <h2>Can I host a screening outside of the U.S.?</h2>
            <p>Yes! To book a screening outside of the U.S., <a href="https://mltsfilm.formstack.com/forms/most_likely_to_succeed_international_application">complete the international screening form here</a>. </p>
            <h2>What is the difference between a community screening and a Fifty-State Tour event?</h2>
            <p>Executive Producer, Ted Dintersmith, is taking the film on a Fifty-State Tour in order to gather and galvanize core communities of change agents in all 50 states. Tour events are co-hosted by the MLTS team and followed by a Q&amp;A with Ted, while community screenings are hosted by our local community leaders.</p>
            <h2>Is the film appropriate for all audiences?</h2>
            <p>Yes, although we want to warn you that the film does contain one minor profanity word (i.e., b.s.). With 30 days notice, we can provide an alternative, version that doesn't use the phrase including the word “b.s." if necessary. Please reach out to us directly to request this option or if you have any questions.</p>
            <h2>How long is the film?</h2>
            <p>The run time is 89 minutes, so please take that into account as you plan your screening.</p>
        </div>
    </div>
</section>
