<section class="faq-container" id="community-screening-faq">
  <div class="faq-wrapper">
    <div class="faq-heading">
      <h1 id="faq-heading">Community Screening FAQs</h1>
    </div>
    <div class="faq-content">
      <h2>What are the steps to hosting a screening?</h2>
      <ol>
        <li>Once you've chosen a date and venue for your event, <a target="blank" href="http://licenses.tugg.com/products/most-likely-to-succeed">purchase a screening license from Tugg.</a></li>
        <li>After you’ve completd the order, a member of Tugg’s team will confirm your license and send you our <a target="blank"  href="http://toolkit.mltsfilm.org">digital screening toolkit</a>, which you will use plan, promote, and post your event online. You will receive a DVD one week prior to your screening.</li>
        <li>After your screening, we will ask you to give us feedback on your event and return the DVD.</li>
        <li><a target="blank" href="http://eduhome.tugg.com/faq/">Tugg’s FAQ provides further details on the steps to book a community screening.</a></li>
      </ol>

      <h2>What is Tugg?</h2>
      <p>Tugg is our new partner for sharing <i>Most Likely To Succeed</i> with audiences everywhere. Tugg is a platform that helps audiences bring their favorite content to theaters across the country and creates community-driven events turning social interest into action. To learn more about Tugg and TuggEDU, visit their <a target="blank" href="http://eduhome.tugg.com/faq/">FAQ</a>.</p>

      <h2>How much does it cost to host a community (non-theatrical) screening?</h2>
      The screening licensing fee for a single community screening is $350 plus shipping. Organizations screening the film are responsible for any costs associated with the local screening venue.
      <h2>How can I defray the cost of hosting a screening?</h2>
      <p>Feel free to charge admission and/or accept donations at your event. We suggest organizations use the screening as a fundraiser to help launch innovation in their local schools.</p>
      <h2>What does the screening license include?</h2>
      <p>The screening license includes the one-time use of a loaned BluRay or DVD, as well as the support of our <a target="blank" href="http://toolkit.mltsfilm.org">digital screening toolkit</a> (event planning guide, discussion guide, and promotional materials).</p>
      <h2>What if I want to host more than one screening?</h2>
      <p>If you would like to host multiple screenings, you will need to pay a licensing fee for each screening.</p>
      <h2>Can I purchase a copy of the film to keep?</h2>
      <p>The film will soon be available for individual purchase. For updates on release, sign up for our <a target="blank" href="http://signup.mltsfilm.org">mailing list.</a></p>
      <h2>Can I host a screening outside of the U.S.?</h2>
      <p>Yes! To book a screening outside of the U.S., <a target="blank" href="http://licenses.tugg.com/products/most-likely-to-succeed">purchase a license from Tugg.</a></p>
      <h2>Is the film appropriate for all audiences?</h2>
      <p>Yes, although we want to warn you that the film does contain one minor profanity word (i.e., b.s.). With 30 days notice, we can provide an alternative, version that doesn't use the phrase including the word “b.s." if necessary. Please reach out directly to request this option or if you have any questions.</p>
      <h2>How long is the film?</h2>
      <p>The run time is 89 minutes, so please take that into account as you plan your screening.</p>
      <h2>Have more questions?</h2>
      <p>Visit the <a target="blank" href="http://eduhome.tugg.com/faq/">Tugg Edu FAQ</a> for more info about purchasing a non-theatrical / educational license</p>
    </div>
  </div>
</section>
