<!-- Header Container -->
<div class="header-container" id="preview">
    <!-- Main Header -->
    <header class="main-header">
        <div class="video-wrapper">
          <video class="preview" autoplay="autoplay" loop>
            <source src="https://s3.amazonaws.com/mlts/videos/mltsHero.webm" type="video/webm">
            <source src="https://s3.amazonaws.com/mlts/videos/mltsHero.mp4" type="video/mp4">
            Your browser doesn't support HTML5 video.
          </video>
        </div>
        <div class="header-wrapper">

            <div class="header-copy center-content active">
              <h1>Most Likely To <span class="mlts-blue header-text-shadow">Succeed</span></h1>
              <div>
                <h2 style="display:inline;">Now Available Through</h2>
                <a href="http://licenses.tugg.com/products/most-likely-to-succeed" target="blank"><img class="tugg-logo" src="images/tugg.png"/></a>
              </div>
                <ul class="header-nav">
                    <li class="trailer-items play-trailer play" data-id="122502930">
                      <span class="icon icon-play trailer-icons" data-category="Hero-section" onclick="ganalytics(this);">Watch Trailer</span>
                    </li>
                    <li class="trailer-items screening-item"><a class="nav-scroll screenings-nav-link icon icon-moviereel trailer-icons" href="#host-a-screening" data-category="Hero-section" onclick="ganalytics(this);">Screen the Film</a></li>
                </ul>
                </br>
            </div>
        </div>

        <!-- Laurels -->
        <div id="laurels" class="award-show-laurels">
          <ul>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/sundanceLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Sundance Film Festival laurel">
            </li>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/tribecaLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Tribeca Film Festival laurel">
            </li>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/afiFestLaurel-white.svg" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="AFI Fest laurel">
            </li>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/siffLaurel-white.svg" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Seattle International Fild Festival laurel">
            </li>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/sarasotaLaurel-white.svg" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Sarasota Film Festival laurel" />
            </li>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/clevelandLaurel-white.svg" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Cleveland Film Festival laurel">
            </li>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/dallasLaurel-white.svg" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Dallas Film Festival laurel" />
            </li>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/fmffLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Fort Myers Film Festival laurel">
            </li>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/marthasvineyardLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Martha's Vineyard Film Festival laurel" />
            </li>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/svffLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Sun Valley Film Festival laurel">
            </li>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/montclairLaurel-white.svg" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Montclair Film Festival laurel" />
            </li>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/newportFILMlaurel-white.svg" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Newport FILM Festival laurel" />
            </li>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/alexanderLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Alexander Valley Film Festival laurel" />
            </li>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/vaLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Virginia Film Festival laurel" />
            </li>
            <li class="award-show-laurel">
              <img src="https://s3.amazonaws.com/mlts/laurels/vtiffLaurel-white.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Vermont International Film Foundation laurel" />
            </li>
            <li class="award-show-laurel">
              <img src="images/laurels/bergen.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Bergen International Film Festival" />
            </li>
            <li class="award-show-laurel">
              <img src="images/laurels/chesapeake.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Chesapeake Film Festival" />
            </li>
            <li class="award-show-laurel">
              <img src="images/laurels/cleveland.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Cleveland International Film Festival" />
            </li>
            <li class="award-show-laurel">
              <img src="images/laurels/milwaukee_laurel.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Milwaukee Film Festival" />
            </li>
            <li class="award-show-laurel">
              <img src="images/laurels/monadnock.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Monadnock Film Festival" />
            </li>
            <li class="award-show-laurel">
              <img src="images/laurels/naples.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Naples International Film Festival" />
            </li>
            <li class="award-show-laurel">
              <img src="images/laurels/newtown.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Newtown Film Festival" />
            </li>
            <li class="award-show-laurel">
              <img src="images/laurels/southside.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Southside Film Festival" />
            </li>
            <li class="award-show-laurel">
              <img src="images/laurels/sxswedu.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="SXSW EDU" />
            </li>
            <li class="award-show-laurel">
              <img src="images/laurels/newport.png" data-category="Laurel-section:laurel" onclick="ganalytics(this);" class="mlts-laurel" alt="Bergen International Film Festival" />
            </li>
          </ul>
        </div>
        <center>
        <a href="/#intro" class="icon icon-arrow-down-circle scroll-nav-icon"></a>
        </center>
    </header>
    <!-- End of Main Header -->

    <!-- Trailer video Container -->
    <div class="trailer-video-container">
        <span class="grid-video-close icon icon-close trailer-close" data-video=""></span>
    </div>
    <!-- End of Trailer video Container -->

</div>
<!-- End of Header Container -->

<!-- Copy Container -->
<section id="intro" class="copy-container">
  <div class="wrapper film-description">
    <h2>
      <p><i>Most Likely To Succeed</i> is a thought-provoking  documentary feature film that reveals the growing shortcomings of conventional education methods in today's innovative world. The film explores compelling new approaches that aim to revolutionize education as we know it, inspiring school communities to reimagine what students and teachers are capable of doing. To date, <i>MLTS</i> has screened for thousands of audiences around the world, igniting conversations and empowering change along the way. Share the film with your community to activate change now.</p></br>
  </h2></br>
      <p class="call-to-action">From Director Greg Whiteley (<i>Last Chance U, Mitt,</i>) and Executive Producer Ted Dintersmith (author, <i>Most Likely to Succeed</i>).</p></br>
      </br>
      <a href="/#host-a-screening" class="icon icon-arrow-down-circle scroll-nav-icon"></a>
  </div>


</section>
<!-- End of Copy Container -->

<!-- Screenings Container -->
<section id="host-a-screening" class="see-the-film-container">

  <div class="see-the-film-wrapper">
    <h3>See the <span class="mlts-blue">Film</span></h3>
    <h2 class="see-the-film-copy">We are excited to be partnering with Tugg to bring “Most Likely To Succeed” to your city! There are two ways you can host a screening — at your own school or community venue, or at a local theater.</h2>

  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card screening-option-box">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            + Rent the Film
          </h5>
        </div>
      </a>

      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <p>“Most Likely To Succeed” is available for a one-month digital rental for you and up to nine of your colleagues.
          <center>
            <a class="tugg-button" target="blank" href="http://www.mltsfilm.org/c10">Learn More</a>
          </center>
        </div>
      </div>
    </div>
    <div class="card screening-option-box">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            + Purchase the Film for Your School, District or Organization
          </h5>
        </div>
      </a>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
          <p>“Most Likely To Succeed” is available to own on DVD, blu-ray and digital streaming for educational and non-profit institutions.  This license includes the rights to host public screenings.</p>
          <center>
            <a class="tugg-button" target="blank" href="http://licenses.tugg.com/products/most-likely-to-succeed">Learn More</a>
          </center>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Screenings Container -->
