<!-- Header Container -->
<div class="header-container" id="preview">
    <!-- Main Header -->
    <header class="main-header">
        <div class="video-wrapper">
          <video class="preview" autoplay="autoplay" loop>
            <source src="https://s3.amazonaws.com/mlts/videos/mltsHero.webm" type="video/webm">
            <source src="https://s3.amazonaws.com/mlts/videos/mltsHero.mp4" type="video/mp4">
            Your browser doesn't support HTML5 video.
          </video>
        </div>
        <div class="header-wrapper">

            <div class="header-copy center-content active">
              <h1>Most Likely To <span class="mlts-blue header-text-shadow">Succeed</span></h1>
              <p>“Most Likely To Succeed” is a thought-provoking  documentary feature film that reveals the growing shortcomings of conventional education methods in today's innovative world. The film explores compelling new approaches that aim to revolutionize education as we know it, inspiring school communities to reimagine what students and teachers are capable of doing.</p></br>
      <p>To date, “Most Likely To Succeed” has screened for thousands of audiences around the world, igniting conversations and empowering change along the way. Share the film with your community to activate change now.</p></br>
                <ul class="header-nav">
                    <li class="trailer-items play-trailer play" data-id="122502930">
                        <span class="icon icon-play trailer-icons" data-category="Hero-section" onclick="ganalytics(this);">Watch Trailer</span>
                    </li>
                    <li id="form-hero-button" class="trailer-items screening-item"><a class="nav-scroll screenings-nav-link icon icon-moviereel trailer-icons" href="#host-a-screening" data-category="Hero-section" onclick="ganalytics(this);">See the Film</a></li>
                </ul>
            </div>
            <span class="copy-social-icons">
              <a href="https://www.facebook.com/MLTSfilm/" target="blank" class="icon icon-facebook"></a>
              <a href="https://twitter.com/mltsfilm" target="blank" class="icon icon-twitter"></a>
              <a href="https://www.youtube.com/channel/UCnkPlILzmiAkaTjgdOmeBSg" target="blank" class="icon icon-youtube"></a>
              <a href="https://www.instagram.com/mltsfilm/" target="blank" class="icon icon-instagram"></a>
            </span>
        </div>
    </header>
    <!-- End of Main Header -->

    <!-- Trailer video Container -->
    <div class="trailer-video-container">
        <span class="grid-video-close icon icon-close trailer-close" data-video=""></span>
    </div>
    <!-- End of Trailer video Container -->

</div>
<!-- End of Header Container -->

<!-- Copy Container -->
<section class="copy-container">
  <div class="wrapper film-description">
  </div>

</section>
<!-- End of Copy Container -->

<!-- Screenings Container -->
<section class="see-the-film-container">
  <div class="see-the-film-wrapper">
      <h3 class="host-screening-title">Host a <span class="mlts-blue">Screening</span></a></h3>
  <h2>We are excited to be partnering with TUGG to bring “Most Likely To Succeed” to your city! There are two ways you can host a screening — at your own school or community venue, or at a local theater.</h2>

  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Host a Community Screening
          </a>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          Bring “Most Likely To Succeed” to the venue of your choice – be it a school, university, church, or community center. You provide the venue, projector and audience, and we’ll provide you with the film and digital marketing tools to make your screening a success.   We’ll even set up an event page for you to manage tickets and RSVPs!
      <a class="tugg-button" href="http://licenses.tugg.com/products/most-likely-to-succeed" target="blank">Learn More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Purchase the Film for Your School
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
          “Most Likely To Succeed” is available to own on DVD and digital streaming for the educational market, which includes a public screening license.
          <a class="tugg-button" href="http://licenses.tugg.com/products/most-likely-to-succeed" target="blank">Learn More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Host a Screening at Your Local Theater
          </a>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block">
          Pick a date and  theater, and enlist your audience to meet the online RSVP deadline.. If enough people pre-purchase tickets to the screening, the screening happens.
          <a class="tugg-button" href="http://licenses.tugg.com/products/most-likely-to-succeed" target="blank">Learn More</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingFour">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Frequently Asked Questions
          </a>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="card-block">
          <h2>What are the steps to hosting a screening?</h2>
          <ol>
            <li>Once you've chosen a date and venue for your event, purchase a screening license from TUGG.</li>
            <li>Once you've completed the order, a member of TUGG’s team will confirm your license and send you our digital screening toolkit, which you will use to plan, promote, and post your event online. You will receive a DVD one week prior to your screening.</li>
            <li>After your screening, we will ask you to give us feedback on your event and return the DVD.</li>
            <li>TUGG’s FAQ provides further details on the steps to book a community screening.</li>
          </ol>
          <h2>What is TUGG?</h2>
          <p>TUGG is our partner for sharing “Most Likely To Succeed” with nationwide audiences. TUGG is a platform that helps audiences bring their favorite content to theaters across the country and creates community-driven events helping to turn social interest into action. To learn more about TUGG and TUGGEDU, visit their FAQ.</p>
          <h2>How much does it cost to host a community (non-theatrical) screening?</h2>
          <p>The screening licensing fee for a single community screening is $350 plus shipping. Organizations screening the film are responsible for any costs associated with the local screening venue.</p>
          <h2>How can I defray the cost of hosting a screening?</h2>
          <p>Feel free to charge admission and/or accept donations at your event. We suggest organizations use the screening as a fundraiser to help launch innovation in their local schools.</p>
          <h2>What does the screening license include?</h2>
          <p>The screening license includes the one-time use of an on loan BluRay or DVD, as well as the support of our digital screening toolkit (event planning guide, discussion guide, and promotional materials).</p>
          <h2>What if I want to host more than one screening?</h2>
          <p>If you would like to host multiple screenings, you will need to pay a licensing fee for each screening.</p>
          <h2>Can I purchase a copy of the film to keep?</h2>
          <p>The film will soon be available for individual purchase. To stay tuned on when it will be released, sign up for our mailing list.</p>
          <h2>Can I host a screening outside of the U.S.?</h2>
          <p>Yes! To book a screening outside of the U.S., purchase a license from TUGG.</p>
          <h2>Is the film appropriate for all audiences?</h2>
          <p>Yes, although we want to warn you that the film does contain some minor profanity. With 30 days’ notice, we can provide an alternative version, scrubbed of the language. Please reach out directly to request this option or if you have any questions.</p>
          <h2>How long is the film?</h2>
          <p>The run time is 89 minutes, so please take that into account as you plan your screening.</p>
          <h2>Have more questions?</h2>
          <p>Visit the <a target="blank" href="http://eduhome.tugg.com/faq/">Tugg Edu FAQ</a> for more info about purchasing a non-theatrical / educational license</p>
          <h2>How long is the film?</h2>
          <p>The run time is 89 minutes, so please take that into account as you plan your screening.</p>
          <h2>More questions?</h2>
          <p>Visit the <a target="blank" href="http://eduhome.tugg.com/faq/">Tugg Edu FAQ</a> or email support@TUGGinc.com.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- End of Screenings Container -->
