<body class="for-change-agents mf-body">
    <!-- Facebook Like Button -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=573229176144322&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div />
    <div class="header-container mf-header">
        <header>
            <nav class="sub-nav">
                <ul class="sub-nav-list">
                    <li class="sub-nav-list-item "><a href="/moving-forward/know-your-stuff/">Know Your Stuff</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-parents/">For Parents</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-teachers/">For Teachers</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-school-leaders/">For School Leaders</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-students/">For Students</a></li>
                    <li class="sub-nav-list-item separator active"><a href="/moving-forward/for-change-agents/">For Change Agents</a></li>
                </ul>
            </nav>
            <nav class="sub-nav sub-nav-mobile">
                <ul class="sub-nav-list">
                    <li class="sub-nav-list-item "><a href="/">Home</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/index">Moving Forward</a></li>
                </ul>
            </nav>

        </header>
    </div>

    <section class="copy-container moving-forward-copy">
        <div class="wrapper">
            <h1 class="mf-title">For Change Agents</h1>
            <p class="mf-subtitle mf-copy">If you’re committed to helping your school, district, or statemove forward, you’re our kind of person -- a change agent. We view our role in education as helping make our country’s education change agents more productive, and to help them
                find each other</p>
        </div>
    </section>

    <section class="copy-container moving-forward-copy">
        <div class="wrapper">
            <p class="mf-copy no-bpadding">The single best thing we can offer a change agent is a vehicle for bringing your community together to see <i>Most Likely To Succeed</i>. We’ve now been at more than fifty screenings of the film, and seen the power as an entire community gets
                inspired about the possibilities. We have a great team supporting these screenings, along with offerings for a school, a district, and states. Our goal isn’t to make money on this film (all of the funder’s proceeds go to a non-profit helping
                advance U.S. education), but to effect change. And the film, we believe, is the single best film ever done on the past and future of school. Take advantage of it. Oh, for those who ask when the film will be available online, we have turned
                down several offers from the obvious suspects. We feel the real power of the film is when it’s watched in a group setting, and your ability to bring your community together to see the film will vanish if your invitees know they can watch
                it at home (but won’t!).</p>
        </div>
    </section>

    <section class="copy-container moving-forward-copy fca-list-container">
        <div class="wrapper">
            <p class="mf-copy">There’s no point in getting a community excited if there’s no follow-on. Our initiative goes beyond the film, with multiple resources that can help your community move forward.</p>
            <p class="mf-copy no-bpadding">Rally your community. Many of us have been in the situation where we fully appreciate the urgency of moving a school forward, but feel surrounded by others satisfied with the status quo. Even to get them to come to a screening of the film
                might be a challenge. If you’re in that situation, one way to begin to build interest for a change process is to share with others some great articles, statistics, or short videos. <a class="black-copy-link" href="/#education-facts">Our website has a few</a>.
                For starters, you might share the following to colleagues involved in your school who might step up:</p>
            <div class="expert-lists expert-reading">
                <ul class="expert-list fca-list">
                    <li class="expert-list-column">
                        <ul class="expert-column">
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="http://www.ted.com/talks/ken_robinson_says_schools_kill_creativity?language=en" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">Ken Robinson's TED Talk</a>
                            </li>
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="http://www.npr.org/sections/thetwo-way/2012/04/23/151217630/ap-analysis-half-of-recent-college-grads-are-jobless-or-underemployed" target="_blank" data-category="Crash Course Section:Crash Course Reading Links"
                                onclick="ganalytics(this);">Employment Prospects for Young Adults</a>
                            </li>
                        </ul>
                    </li>
                    <li class="expert-list-column">
                        <ul class="expert-column">
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="https://www.youtube.com/watch?v=yRZZpk_9k8E" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">Preparing Our Youth To Be Responsible Citizens</a>
                            </li>
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="/" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">Our Trailer</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="copy-container moving-forward-copy">
        <div class="wrapper">
            <p class="mf-copy">Your goal is to recruit a core organizing committee to show <i>Most Likely To Succeed</i> in your school. The film has all sorts of accolades, the trailer is inspiring, and audiences love it. By now, some in your community will have heard
                of the film, or even seen it, and they will be your allies. Point people to the film’s website, where they can see a growing list of communities that are screening it. But get your team lined up! Once you have your team in place, we’ll
                make it easy for you to organize a community screening.</p>
            <p class="mf-copy no-bpadding">Once your community has come together to see <i>Most Likely to Succeed</i>, they’ll be receptive -- very receptive -- to doing more. We’d recommend capitalizing on your momentum with a follow-on session. <a href="/moving-forward/for-school-leaders#build-consensus"
                class="black-copy-link">We have developed and used an approach to help your community take on build consensus about the future of your school.</a> This session will energize your community as you converge on a set of desired outcomes and
                design principles for your school. Guaranteed that this will be lightyears ahead of most committee-driven planning processes!</p>
        </div>
    </section>

    <section class="copy-container moving-forward-copy fca-email-container">
        <div class="wrapper">
            <p class="mf-copy">Finally, as you work to move your school forward, you’re likely to get pushback. That’s par for the course for a change agent. But whether the resistance comes from a parent, a teacher, a student,or a school leader, we’ve offered some very
                powerful resources on this site that can help them, and your school, move forward.</p>
            <p class="mf-copy no-bpadding">To all of you willing to step up as change agents, you are the heroes of this process, and have our deepest gratitude. Be assured that you’re fighting for the futures of lots of kids and, quite possibly, our collective futures in a country
                that risks being torn apart by a growing divide between the rich and the rest. We have no choice but to fight for the cause of equipping our kids to deal with the innovation era, and supporting our teachers to innovate and inspire.</p>
        </div>
        <p class="mf-copy fca-email-copy">We welcome your involvement and feedback (<a href="mailto:feedback@mltsfilm.org" class="black-copy-link">feedback@mltsfilm.org</a>). We promise to get back to anyone who offers well-thought-out advice or suggestions.</p>
    </section>
</body>
