<body class="for-teachers mf-body">
    <!-- Facebook Like Button -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=573229176144322&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div />
    <div class="header-container mf-header">
        <header>
            <nav class="sub-nav">
                <ul class="sub-nav-list">
                    <li class="sub-nav-list-item "><a href="/moving-forward/know-your-stuff/">Know Your Stuff</a></li>
                    <li class="sub-nav-list-item separator active"><a href="/moving-forward/for-parents/">For Parents</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-teachers/">For Teachers</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-school-leaders/">For School Leaders</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-students/">For Students</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-change-agents/">For Change Agents</a></li>
                </ul>
            </nav>
            <nav class="sub-nav sub-nav-mobile">
                <ul class="sub-nav-list">
                    <li class="sub-nav-list-item "><a href="/">Home</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward.html">Moving Forward</a></li>
                </ul>
            </nav>

        </header>
    </div>

    <section class="copy-container moving-forward-copy">
        <div class="wrapper">
            <h1 class="mf-title">For Parents</h1>
            <p class="mf-subtitle mf-copy">Parents often tell us, “I’m busy, and don’t have time to change an entire school. I just want to focus on my own kid.” If that’s your immediate priority, here’s our advice.</p>
        </div>
    </section>

    <!-- Numbered List Container Start -->
    <section class="copy-container moving-forward-copy numbered-list-container">
        <div class="wrapper small-numbered-list">
            <ul class="numbered-list">
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">1</span>
                        <p class="list-copy numbered-item-copy"><a href="/moving-forward/know-your-stuff/" class="black-copy-link">Get informed.</a> You need to be clear on what skills and characteristics you want to see in your child.</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">2</span>
                        <p class="list-copy numbered-item-copy">Use our <a href="http://52.74.90.55" class="black-copy-link">sparklist</a> to find challenges for your child that help develop critical skills and help them rediscover the joy in learning. If your child hates history, find a short
                            challenge -- perfect for dinner or a car ride -- that brings history to life. Same for other subjects. It also has great suggestions for after-school programs.</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">3</span>
                        <p class="list-copy numbered-item-copy">Encourage your child to create their own initiative. This can be transformational. And let your child run with this -- all too often, parents take the joy and learning out of a child’s initiative by micro-managing it. <a href="http://www.thefutureproject.org/"
                            class="black-copy-link">The Future Project</a> has resources available to parents and teachers to help you assist a child in pursuing a dream.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Numbered List Container End -->


    <section class="copy-container moving-forward-copy">
        <div class="wrapper">
            <p class="mf-copy">Many parents obsess about making sure everything works out just right for their child. It’s in our genes. You might win lots of small battles with this approach, but you risk losing the war. A bulldozer parent pushing a child to do everything
                perfectly may help the child build an impressive resume, but is setting the child up for a fragile and deeply unhappy life. Nervous about letting go? We’d recommend Wendy Mogul’s <a href="http://www.wendymogel.com/books/b_minus" class="black-copy-link">The Blessing of a B Minus</a>                and Mac Bledsoe’s <a href="http://www.amazon.com/Parenting-Dignity-Mac-Bledsoe/dp/0028644255" class="black-copy-link">Parenting With Dignity</a>.</p>
            <p class="mf-copy no-bpadding">One caution to parents. As kids move to higher grades, schedules can become all consuming. Between a full day at school, homework, clubs, and sports, there can be no time left for exploration, self-driven initiatives, deeper learning, or a
                good old-fashioned job. So you may, in the end, be compelled to become a change agent at your child’s school <a href="for-change-agents.html" class="black-copy-link">For Change Agents</a>.</p>
        </div>
    </section>

    <!-- Numbered List Container Start -->
    <section class="copy-container moving-forward-copy numbered-list-container">
        <div class="big-wrapper">
            <h2 class="mf-header mf-section-header mf-section-header no-bpadding">For parents who want to gauge the kind of learning experience offered by a school, here are a dozen essential questions:</h2>
        </div>
        <div class="wrapper small-numbered-list">
            <ul class="numbered-list">
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">1</span>
                        <p class="list-copy numbered-item-copy">When you observe classes, how much of the time is the teacher talking? Are students sitting passively taking notes? How often do students ask questions? When students talk, are they serving up the answer that they think is what
                            teacher is looking for, or expressing independent -- even controversial -- views? How much are students debating each other (just as valid in a science or math class as in a humanities class).</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">2</span>
                        <p class="list-copy numbered-item-copy">Ask if you can spot check a few exams across different subjects to determine whether students are being tested on real thinking, or performing rote memorization? Do test questions invite students to come up with multiple creative
                            solutions? If the school tells you they can’t share past tests with you (and remind them you’re asking for test questions, not the answers), ask what they’ve done to evaluate the nature of their exams.</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">3</span>
                        <p class="list-copy numbered-item-copy">How much time does the typical student spend on self-defined initiatives? Is there an important capstone project?</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">4</span>
                        <p class="list-copy numbered-item-copy">How does the school approach community service? Are students encouraged to create and implement initiatives that make their community better? Is community service mandatory, with students choosing among options defined by teachers?
                            Is it used for punishment? How does the school help its students find ways they can make their world better, leveraging their talents, passions, and determination?</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">5</span>
                        <p class="list-copy numbered-item-copy">Do you see signs of collaboration? Ask how students are taught to collaborate better.</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">6</span>
                        <p class="list-copy numbered-item-copy">Ask students how much say they have in organizing and running their clubs and athletic teams. Are these initiatives used to help students develop leadership skills, or are students treated as “order takers”?</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">7</span>
                        <p class="list-copy numbered-item-copy">Ask how student body leaders are elected, and find out the backgrounds of the last several “leaders.” What are some examples of real leadership from the student government?</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">8</span>
                        <p class="list-copy numbered-item-copy">If you’re looking at a high school, ask about their Advanced Placement classes. Have they opted out? If not, ask to observe a few. Most schools tell you that their AP classes don’t teach to the test, but these classes often focus
                            on content coverage and test prep.</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">9</span>
                        <p class="list-copy numbered-item-copy">Ask the school principal what skills and character traits they believe the school needs to develop in its students. Push for specifics. If the answer is “grit and determination,” get examples of how the school helps kids learn
                            the value of perseverance. For instance, if a student has a poor grade midway through a course, can they still get an A?</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">10</span>
                        <p class="list-copy numbered-item-copy">Ask what life skills they think they need to help their students develop, and how are they going about that.</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">11</span>
                        <p class="list-copy numbered-item-copy">Does the school understand that the impact of technology on schools isn’t in how obsolete assignments are delivered (e.g., tablet apps that help students memorize the periodic table, or do closed form integrals)? Does the school
                            understand that our kids will function in a world completely different from the last century? How are they changing learning experiences? Just because a school doesn’t use technology in its classrooms doesn’t necessarily mean
                            that they don’t have a well-thought-out 21st Century strategy.</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">12</span>
                        <p class="list-copy numbered-item-copy">Ask about recent innovative initiatives. What are the biggest changes they feel they need to make in the next couple of years? How does change happen at the school? Examples? Can students and teachers drive change, or is it all
                            wrapped up in committees and long-term plans?</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Numbered List Container End -->

</body>

