<body class="for-teachers mf-body">

  <!-- Facebook Like Button -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=573229176144322&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div />
  <div class="header-container mf-header">
      <header>
          <nav class="sub-nav">
              <ul class="sub-nav-list">
                  <li class="sub-nav-list-item "><a href="/moving-forward/know-your-stuff/">Know Your Stuff</a></li>
                  <li class="sub-nav-list-item separator"><a href="/moving-forward/for-parents/">For Parents</a></li>
                  <li class="sub-nav-list-item separator"><a href="/moving-forward/for-teachers/">For Teachers</a></li>
                  <li class="sub-nav-list-item separator active"><a href="/moving-forward/for-school-leaders/">For School Leaders</a></li>
                  <li class="sub-nav-list-item separator"><a href="/moving-forward/for-students/">For Students</a></li>
                  <li class="sub-nav-list-item separator"><a href="/moving-forward/for-change-agents/">For Change Agents</a></li>
              </ul>
          </nav>
          <nav class="sub-nav sub-nav-mobile">
              <ul class="sub-nav-list">
                  <li class="sub-nav-list-item "><a href="/">Home</a></li>
                  <li class="sub-nav-list-item separator"><a href="/moving-forward.html">Moving Forward</a></li>
              </ul>
          </nav>

      </header>
  </div>

  <section class="copy-container moving-forward-copy">
    <div class="wrapper">
      <h1 class="mf-title">For School Leaders</h1>
      <p class="mf-subtitle mf-copy">We made the film <i>Most Likely To Succeed</i> to help school leaders effect change.  We’re seeing inspiring examples all over the country where a leader brings their community together to watch the film, hosts a vibrant discussion after the film, and polls attendees on questions of relevance to their go-forward strategy.  After seeing this film, the audience understands the urgency for moving forward, and is inspired by what is possible.  What we hear back is that the film enables bold initiatives to take place -- at the school, district, or state level -- that otherwise would shrivel on the vine.</p>
    </div>
  </section>

  <!-- Numbered List Container Start -->
  <section class="copy-container moving-forward-copy numbered-list-container">
    <div class="big-wrapper">
      <h2 class="mf-header mf-section-header mf-section-header no-bpadding">At the school level, the following sequence can produce inspiring results:</h2>
    </div>
    <div class="wrapper small-numbered-list">
      <ul class="numbered-list">
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">1</span>
            <p class="list-copy numbered-item-copy"> Organize a community screening with the film <i>Most Likely To Succeed</i>.  You’ll be glad you started with this.  We’ll help support you in turning this into a big school event (perhaps even a fundraiser), and generate  excitement about the future of your school.  Your audience will be energized for a post-film Q&A session, and you’ll want to pick the right person (or panel) to facilitate this discussion. You may want to prepare a set of polling questions for attendees, which will help you begin to build the support for effecting real change.</p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">2</span>
            <p class="list-copy numbered-item-copy">Build on the momentum from an initial screening by bringing your community back together for a follow-on session designed to build a consensus around what outcomes you want your school to achieve for its students. <a href="#build-consensus" class="nav-scroll black-copy-link">Build Consensus</a></p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">3</span>
            <p class="list-copy numbered-item-copy">As your school moves forward, consider working with some of our <a href="#" class="black-copy-link">partner organizations</a> who have deep expertise in helping schools transform.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- Numbered List Container End -->

  <!-- Building Consesus Section Start -->
  <section id="build-consensus" class="copy-container moving-forward-copy numbered-list-container">
    <div class="wrapper no-bpadding">
      <h2 class="mf-header mf-section-header">Building Consensus</h2>
      <p class="mf-copy no-bpadding">After a school-wide screening of <i>Most Likely To Succeed</i>, many school communities want to bring their community back together and build on the emerging momentum.  We’ve had great results with a follow-on session that helps build a consensus in your school community about desired outcomes and design principles for the future of your school.  Clearly, you’ll modify what’s below to suit your community’s needs, but it goes like this:</p>
    </div>
    <div class="wrapper small-numbered-list">
      <ul class="numbered-list">
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">1</span>
            <p class="list-copy numbered-item-copy">Start by showing this ten-minute clip from <a href="https://vimeo.com/135611275" class="black-copy-link" target="_blank">this film</a>. It sets the stage for the session, brings those who haven’t seen the film a bit up to speed, and is a great refresher for those who already have seen the film.</p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">2</span>
            <p class="list-copy numbered-item-copy">As an initial exercise, have your audience break into smaller teams (say, about ten-ish) and address the following question, and then share their responses:</p>
            <p class="list-copy numbered-item-copy sub-num-copy"><em>When you reflect on your time in school, describe a person, idea, or experience that changed your future and what you’re capable of.</em></p>
            <p class="list-copy numbered-item-copy sub-num-copy">It can be quite powerful if you get each group to summarize common aspects of their responses. A teacher passionate about a topic? Particular mentors? A club or sports experience? A traditional lecture class, with multiple choice quizzes and exams (something we’ve yet to see!!)?</p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">3</span>
            <p class="list-copy numbered-item-copy">Show this <a href="" class="black-copy-link">short clip</a> (3 ½ minute clip from Greg) on skills needed in 1893, and in today’s world.</p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">4</span>
            <p class="list-copy numbered-item-copy">Break into groups of 8-12 people and spend about an hour addressing these two questions:</p>
            <p class="list-copy numbered-item-copy sub-num-copy"><em>What do we want our future high school graduates to know and be able to do?</em></p>
            <p class="list-copy numbered-item-copy sub-num-copy"><em>Given the answers to the question above, what are the most important characteristics of the high school of the future?</em></p>
            <p class="list-copy numbered-item-copy sub-num-copy">Then, reconvene as a whole and have each group share its conclusions. You’ll find that this process will align your community in terms of goals.</p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">5</span>
            <p class="list-copy numbered-item-copy">In this (or a follow-on) session, have your community take on the following issues.</p>
            <p class="list-copy numbered-item-copy sub-num-copy"><em>Given the skills and characteristics we’ve identified as priorities for our students, what process could we use to evaluate how we’re doing relative to these priorities. Where there are gaps? How do we begin to close them?</em></p>
            <p class="list-copy numbered-item-copy sub-num-copy"><em>In the past few years, what are our success cases for innovation?  Where have our efforts to innovate proven unsuccessful?  What are three things we could do to encourage innovation and change throughout our school?</em></p>
            <p class="list-copy numbered-item-copy sub-num-copy">For the person or team moderating this event, you may want to check out this <a href="" class="black-copy-link">short video</a> from Stephanie Rogen, CEO of Greenwich Leadership Partners, who is one of the top facilitators in the country, with real expertise in leading sessions like this.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- Building Consesus Section End -->

  <!-- District and States Start -->
  <section id="districts-and-states" class="copy-container moving-forward-copy horizontal-list-container">
    <div class="wrapper no-bpadding">
        <h2 class="mf-header mf-section-header">Districts and States</h2>
        <p class="mf-copy">The film is effective at the school level, but even more powerful on the district or state level. Bringing the film to all school communities will align interests and generate enthusiasm for moving learning experiences forward.  We’re already seeing impressive results when a district superintendent takes the lead in</p>
    </div>
    <div class="big-wrapper no-bpadding">
      <div class="horizontal-list-container">
        <ul class="horizontal-list">
          <li class="horizontal-list-item">
            <span class="letter list-order-indicator">A</span>
            <p class="list-copy">getting school board members, senior staff, and school principals to see the film</p>
          </li>
          <li class="horizontal-list-item">
            <span class="letter list-order-indicator">B</span>
            <p class="list-copy">highlighting innovative initiatives already underway</p>
          </li>
          <li class="horizontal-list-item">
            <span class="letter list-order-indicator">C</span>
            <p class="list-copy">formulating the design principles that will shape go-forward strategy</p>
          </li>
          <li class="horizontal-list-item">
            <span class="letter list-order-indicator">D</span>
            <p class="list-copy">show the film to school communities across the district (or state) as a means of generating excitement and commitment for strategic initiatives.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="wrapper">
      <div class="button-container">
        <a class="articles-button" href="http://52.74.90.55/" target="_blank">Pam Moran Interview</a>
        <a class="articles-button" href="http://52.74.90.55/" target="_blank">Max McGee Interview</a>
      </div>
      <p class="mf-copy">And consider this <a href="http://us5.campaign-archive2.com/?u=1e1dd398adb9d9bf6231fdfab&id=6351a07db0&e=fa8c57485c" class="black-copy-link" target="_blank">e-mail</a> update from Dr. Michael Mathews, Superintendent of School for the Manhattan Beach Unified School District. Note they drew an audience of 900 to see <i>Most Likely To Succeed</i>, and generated energy and commitment for innovation in their district.</p>
    </div>
  </section>
  <!-- District and States End -->

  <!--The Deeper Learning Network Section Start -->
  <section id="districts-and-states" class="copy-container moving-forward-copy horizontal-list-container">
    <div class="wrapper">
        <h2 class="mf-header mf-section-header">The Deeper Learning Network</h2>
        <p class="mf-copy">If your goal is to change your school, your district, or even all of the schools in your state, you should learn more about the great work being done by a networks of schools (over 500 in all) called the <a href="http://deeperlearning4all.org/" class="black-copy-link" target="_blank">Deeper Learning Network</a>, supported in part by <a href="http://www.hewlett.org/programs/education/deeper-learning" class="black-copy-link" target="_blank">The Hewlett Foundation</a>. This <a href="https://www.teachingchannel.org/videos/deeper-learning-a-series-overview" class="black-copy-link">short video</a> gives you an introduction to these great organizations who have considerable experience in moving schools forward.</p>
        <p class="mf-copy">This network of schools spans the entire country, and you may want to consider visiting one to see deeper learning in action. Just put in your zip code and you can find all deeper learning schools in your area</p>
        <form action="" class="dls-form">
        <div class="animate-input-container dlns-form">
          <input name="zipcode" type="text" class="field text fn input-field animate-input" value="" maxlength="5" size="8" tabindex="1" data-category="Screening Section:Host Screening Form" onclick="ganalytics(this);" />
          <label class="desc animation-label" id="title115" for="Field115">Zipcode</label>
        </div>
        </form>
    </div>
  </section>
  <!--The Deeper Learning Network Section End -->

  <!-- Powerful Partners Start -->
  <section id="powerful-partners" class="copy-container moving-forward-copy numbered-list-container">
    <div class="wrapper no-bpadding">
      <h2 class="mf-header mf-section-header no-bpadding">Powerful Partners</h2>
    </div>
    <div class="wrapper small-numbered-list">
      <ul class="numbered-list">
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">1</span>
            <p class="list-copy numbered-item-copy"><a href="http://www.thefutureproject.org" class="black-copy-link" target="_blank">The Future Project</a> is working with more than fifty inner city high schools, transforming their cultures and learning experiences.  Stay tuned as this fast-moving organization broadens its mission, and offerings, to help our youth, and the adults surrounding them, bring passion and purpose into their learning experiences...and lives.</p>
            <p class="list-copy numbered-item-copy sub-num-copy">Three Deeper Learning organizations are especially effective in working at the school, district, or state level to transform schools.</p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">2</span>
            <p class="list-copy numbered-item-copy"><a href="http://www.bigpicture.org" class="black-copy-link" target="_blank">Big Picture Learning</a> is focused on catalyzing vital changes in K-Adult education through personalized and innovative learning environments with deep ties to the real world, in part by helping every student find life-changing internships integrated with their education.  BPL has more than two decades of experience in transforming schools and student outcomes, with more than two million students having benefited from their methodology.</p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">3</span>
            <p class="list-copy numbered-item-copy"><a href="http://elschools.org" class="black-copy-link" target="_blank">Expeditionary Learning</a> now works with  more than 160 schools, 4,000 teachers, and 50,000 students, bringing experiential learning to classrooms, igniting student (and teacher) motivation, determination and authentic learning.</p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">4</span>
            <p class="list-copy numbered-item-copy"><a href="http://www.newtechnetwork.org" class="black-copy-link" target="_blank">New Tech Network</a> transforms schools into innovative learning environments, bringing deep expertise in a project-based-learning approach engages students with dynamic, rigorous curriculum. NTN has more than a decade of experience in bringing a scalable model to changing education, and is in more than 150 schools all over the country.</p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">5</span>
            <p class="list-copy numbered-item-copy"><a href="http://challengesuccess.org" class="black-copy-link" target="_blank">Challenge Success</a> provides families and schools with practical, research-based tools they need to raise healthy, motivated kids.</p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">6</span>
            <p class="list-copy numbered-item-copy"><a href="http://www.edleader21.com" class="black-copy-link" target="_blank">EdLeader21</a>  is a national network of school and district leaders focused on bringing critical skills (communication, collaboration, critical analysis, creativity) into education.</p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">7</span>
            <p class="list-copy numbered-item-copy"><a href="http://edleaderacademy.hightechhigh.org" class="black-copy-link" target="_blank">Education Leaders Academy</a></p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">8</span>
            <p class="list-copy numbered-item-copy"><a href="http://www.usfirst.org/" class="black-copy-link" target="_blank">FirstRobotics</a> is an exceptional after-school program teaching kids all about robotics and, in the process, making it cool in schools to be interesting in STEM.</p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">9</span>
            <p class="list-copy numbered-item-copy"><a href="http://www.greenwichleadershippartners.com" class="black-copy-link" target="_blank">Greenwhich Leadership Partners</a></p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">10</span>
            <p class="list-copy numbered-item-copy"><a href="http://www.schoolretool.org" class="black-copy-link" target="_blank">School Retool</a></p>
          </div>
        </li>
        <li class="numbered-list-item">
          <div class="item-content-container">
            <span class="number list-order-indicator">11</span>
            <p class="list-copy numbered-item-copy"><a href="http://ed.ted.com/clubs" class="black-copy-link" target="_blank">TED-Ed Clubs</a></p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- Powerful Partners Section End -->
</body>

