<body class="for-students mf-body">
    <!-- Facebook Like Button -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=573229176144322&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div />

    <div class="header-container mf-header">
        <header>
            <nav class="sub-nav">
                <ul class="sub-nav-list">
                    <li class="sub-nav-list-item "><a href="/moving-forward/know-your-stuff/">Know Your Stuff</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-parents/">For Parents</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-teachers/">For Teachers</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-school-leaders/">For School Leaders</a></li>
                    <li class="sub-nav-list-item separator active"><a href="/moving-forward/for-students/">For Students</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-change-agents/">For Change Agents</a></li>
                </ul>
            </nav>
            <nav class="sub-nav sub-nav-mobile">
                <ul class="sub-nav-list">
                    <li class="sub-nav-list-item "><a href="/">Home</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward.html">Moving Forward</a></li>
                </ul>
            </nav>

        </header>
    </div>

    <section class="copy-container moving-forward-copy">
        <div class="wrapper">
            <h1 class="mf-title">For Students</h1>
            <p class="mf-subtitle mf-copy no-bpadding">When we were making the documentary <i>Most Likely To Succeed</i>, we had modest expectations for how it would be received by students. An 87-minute documentary, in a world full of movies like Furious7, didn’t strike us as something students
                would be all over. But they are. So if you’re a student who cares about your future, consider bringing MLTS to your community. The reaction we’ve gotten from our student screenings is, invariably, “How can we show this to our parents and
                teachers? We want our school to be more like this.” We work with student groups to help you bring the film to your school. Consider using the film as a fundraiser for a club or student government.</p>
        </div>
    </section>

    <section class="copy-container moving-forward-copy">
        <div class="wrapper">
            <p class="mf-copy no-bpadding">If a student team takes on the challenge of organizing a community screening, they’ll develop a whole range of critical skills in the process -- creative problem solving, communication, collaboration, critical analysis, and effecting change.
                In an ideal world, your school will give you some sort of recognition or even credit for this work, since the organizing team will learn so much in making this initiative successful.</p>
        </div>
    </section>

    <section class="copy-container moving-forward-copy">
        <div class="wrapper">
            <p class="mf-copy no-bpadding">If you get an assignment that involves lots of rote memorization, work with your teacher to transform it to something that will help you develop essential skills. Push hard for unstructured blocks of time each school month to explore areas
                of interest, and lobby for paths to complete independent study initiatives, and get credit for them. Find, or invent, your own after-school or summer job. Check out the organization <a href="http://www.stuvoice.org/" target="_blank">StudentVoice</a>,
                bring in a dream director. And we’re big fans of initiatives where students learn with other students. If your school doesn’t offer computer programming, or what’s offered isn’t good, consider forming your own <a href="https://coderdojo.com/"
                target="_blank">CoderDojo</a> activity.</p>
        </div>
    </section>
</body>

</html>

