<div class="header-container mf-header">
    <header>
        <nav class="sub-nav">
            <ul class="sub-nav-list">
                <li class="sub-nav-list-item "><a href="/moving-forward/know-your-stuff/">Know Your Stuff</a></li>
                <li class="sub-nav-list-item separator"><a href="/moving-forward/for-parents/">For Parents</a></li>
                <li class="sub-nav-list-item separator"><a href="/moving-forward/for-teachers/">For Teachers</a></li>
                <li class="sub-nav-list-item separator"><a href="/moving-forward/for-school-leaders/">For School Leaders</a></li>
                <li class="sub-nav-list-item separator"><a href="/moving-forward/for-students/">For Students</a></li>
                <li class="sub-nav-list-item separator"><a href="/moving-forward/for-change-agents/">For Change Agents</a></li>
            </ul>
        </nav>
        <nav class="sub-nav sub-nav-mobile">
            <ul class="sub-nav-list">
                <li class="sub-nav-list-item "><a href="/">Home</a></li>
                <li class="sub-nav-list-item separator"><a href="/moving-forward/index">Moving Forward</a></li>
            </ul>
        </nav>

    </header>
</div>

<section class="copy-container moving-forward-copy">
    <div class="wrapper">
      <h1 class="mf-title">Moving Forward</h1>
      <h2 class="mf-subtitle"><p>People watching <i>Most Likely To Succeed</i> are inspired — but want to know, "What can I do next?" The film immerses you in the lives of students and teachers at one school, then tells you not to copy them. Instead, each school is encouraged to create its own learning environment, leveraging the passions, expertise, and aspirations of its community. So how can you move forward? Well, we don't have all of the answers, but what we can do is highlight essential resources we'll stake our reputation on. Start by becoming as much of an expert as you can with Know Your Stuff. Then we have advice specific for parents, teachers, school leaders, students, and change agents. We welcome your suggestions for things we should include, or feedback on your expertise (e-mail us at <a href="mailto:info@mlts.org">info@mlts.org</a>).</p></h2>
    </div>
</section>
<div class="mf-pages-container">
    <ul class="mf-page-list">
        <li class="mf-page-item">
            <a href="/moving-forward/know-your-stuff">
                <div class="mf-page-content">
                    <h3>Know Your Stuff</h3>
                    <p>As the saying goes, “If you don’t know where you’re going, any road will take you there,” which pretty much summarizes the past few decades of U.S. education policy. But, take heart. There are exceptional talks, articles, and books that give you an informed perspective on education in the 21st Century. This section lays out a time-efficient way to advance your expertise.</p>
                </div>
                <div class="mf-page-button-container">
                    <span class="know-your-stuff-button mf-page-button">Learn More</span>
                </div>
            </a>
        </li>
        <li class="mf-page-item">
            <a href="/moving-forward/for-parents">
                <div class="mf-page-content">
                    <h3>For Parents</h3>
                    <p>Resources to help your child develop important skills and character traits, above and beyond what’s going on in school.</p>
                </div>
                <div class="mf-page-button-container">
                    <span class="for-parents-button mf-page-button">Learn More</span>
                </div>
            </a>
        </li>
        <li class="mf-page-item">
            <a href="/moving-forward/for-teachers">
                <div class="mf-page-content">
                    <h3>For Teachers</h3>
                    <p>Resources to help you shift the emphasis in your class from an old-school model to learning experiences that will prepare students for the 21st Century.</p>
                </div>
                <div class="mf-page-button-container">
                    <span class="for-teachers-button mf-page-button">Learn More</span>
                </div>
            </a>
        </li>
        <li class="mf-page-item">
            <a href="/moving-forward/for-school-leaders">
                <div class="mf-page-content">
                    <h3>For School Leaders</h3>
                    <p>Resources to help school heads (department chairs, principals, superintendents, state leaders) transform a school or system.</p>
                </div>
                <div class="mf-page-button-container">
                    <span class="for-school-leaders-button mf-page-button">Learn More</span>
                </div>
            </a>
        </li>
        <li class="mf-page-item">
            <a href="/moving-forward/for-students">
                <div class="mf-page-content">
                    <h3>For Students</h3>
                    <p>A call to students to advocate for an education that prepares them for the innovation era.</p>
                </div>
                <div class="mf-page-button-container">
                    <span class="for-students-button mf-page-button">Learn More</span>
                </div>
            </a>
        </li>
        <li class="mf-page-item">
            <a href="/moving-forward/for-change-agents">
                <div class="mf-page-content">
                    <h3>For Change Agents</h3>
                    <p>Schools change — at times quickly — through the efforts of a courageous school head, an innovative teacher, a set of parents, or student advocates. But schools don’t just change themselves. Change agents need to step up, and this section is for you.</p>
                </div>
                <div class="mf-page-button-container">
                    <span class="for-change-agents-button mf-page-button">Learn More</span>
                </div>
            </a>
        </li>
    </ul>
</div>
