<body class="know-your-stuff mf-body">
    <!-- Facebook Like Button -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=573229176144322&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div />
    <div class="header-container mf-header">
        <header>
            <nav class="sub-nav">
                <ul class="sub-nav-list">
                    <li class="sub-nav-list-item active"><a href="/moving-forward/know-your-stuff/">Know Your Stuff</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-parents/">For Parents</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-teachers/">For Teachers</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-school-leaders/">For School Leaders</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-students/">For Students</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/for-change-agents/">For Change Agents</a></li>
                </ul>
            </nav>
            <nav class="sub-nav sub-nav-mobile">
                <ul class="sub-nav-list">
                    <li class="sub-nav-list-item "><a href="/">Home</a></li>
                    <li class="sub-nav-list-item separator"><a href="/moving-forward/index">Moving Forward</a></li>
                </ul>
            </nav>
        </header>
    </div>

    <section class="copy-container moving-forward-copy">
        <div class="wrapper">
            <h1 class="mf-title">Know your Stuff</h1>
            <p class="mf-subtitle mf-copy no-bpadding">Few of us claim to be experts about replacing a car engine or a hip. But, because we’ve all been students, we tend to believe we’re education experts. And this self-confidence can be misleading. Take a minute to answer this quick survey question:</p>
        </div>
    </section>

    <section class="survey-container">
        <div class="wrapper">
            <h2 class="mf-header mf-section-header survey-question">I can distinguish between a good and bad classroom, assignment, and test.</h2>
            <div class="survey-answers" data-name="kys">
                <span class="answer-button kys-answer icon icon-checkmark" data-answer="a">Agree</span>
                <span class="answer-button kys-answer icon icon-checkmark" data-answer="b">Disagree</span>
            </div>
            <div class="results-container">
                <p class="survey-results"><span class="result-value a-response"></span> of users can distinguish between a good and bad classroom, assignment, and test. <span class="result-value b-response"></span> cannot.</p>
            </div>
        </div>
    </section>

    <!-- Grid Video Section Start -->
    <section class="grid-container kys-video-grid">
        <div class="wrapper">
            <p class="mf-copy">Most adults value school experiences that mirror their own time in school. Show them an engaged teacher covering traditional content, and they’ll invariably conclude they’re observing a good class. If a homework assignment or test is difficult,
                they assume the child is learning something important. And, in most cases, they’re wrong.</p>
            <p class="mf-copy">A quick way to come up to speed on our century-old school model and why it needs to change? Watch these three videos:</p>
        </div>
        <ul class="grid-wrapper">
            <li class="grid-item grid-image grid-play-video laufenberg-vid" data-id="17977879">
                <div class="grid-shadow"></div>
                <div class="grid-item-container" data-category="Grid Section:Grid Video" onclick="ganalyticsGridVideo(this);">
                    <figure class="grid-text-container">
                        <figcaption class="grid-video-descript">
                            <h5 class="video-descript">The voice of the teacher is often missing in discussions about education. We love this short talk by teacher Diana Laufenberg addressing the key issues changing the education landscape.</h5>
                        </figcaption>
                        <div class="grid-text-center">
                            <span class="icon icon-play grid-play-icon"></span>
                        </div>
                    </figure>
                </div>
            </li>
            <li class="grid-item grid-image grid-play-video robinson-vid" data-id="20146136">
                <div class="grid-shadow"></div>
                <div class="grid-item-container">
                    <figure class="grid-text-container" data-category="Grid Section:Grid Video" onclick="ganalyticsGridVideo(this);">
                        <figcaption class="grid-video-descript">
                            <h5 class="video-descript">Sir Ken Robinson’s talk on how schools kill creativity -- seen by almost 200 million people -- is a must. You’ll love it.</h5>
                        </figcaption>
                        <div class="grid-text-center">
                            <span class="icon icon-play grid-play-icon"></span>
                        </div>
                    </figure>
                </div>
            </li>
            <li class="grid-item grid-image grid-play-video mcafee-vid" data-id="75841164">
                <div class="grid-shadow"></div>
                <div class="grid-item-container" data-category="Grid Section:Grid Video" onclick="ganalyticsGridVideo(this);">
                    <figure class="grid-text-container">
                        <figcaption class="grid-video-descript">
                            <h5 class="video-descript">Andy McAfee provides a wake-up call on how innovation is reshaping labor markets, and its implications for income inequality and education.</h5>
                        </figcaption>
                        <div class="grid-text-center">
                            <span class="icon icon-play grid-play-icon"></span>
                        </div>
                    </figure>
                </div>
            </li>
        </ul>
        <div class="wrapper">
            <h2 class="mf-copy">These talks, which take a grand total of 45 minutes to watch, lay out the case.  The school model dates back to 1893, even though our surrounding world is profoundly different.  Schools were designed to kill creativity (a trait at odds with assembly line work) -- and still do. As automation races ahead, the very skills young adults need to thrive are being crushed out of them.</h2>
            <h2 class="mf-copy no-bpadding">You can find other great online videos <a href="http://www.edu21c.com/resources/talks-videos/" target="_blank">here</a>, but we're mindful of your time. Start with the three above, and you're off and running.</h2>
        </div>
    </section>
    <!-- Grid Video Section End -->

    <!-- Article Section Start -->
    <section class="article-section">
        <div class="wrapper">
            <h2 class="mf-header mf-section-header article-section-copy">Of the myriad articles written on education, here are a few we’d recommend.</h2>
            <div class="articles-container">
                <ul class="article-list expert-list">
                    <li class="article-list-column expert-list-column">
                        <div class="color-bar bar-1"></div>
                        <h4 class="column-copy">How our age-old school model is in need of re-imaging:</h4>
                        <ul class="article-column expert-column">
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="https://hbr.org/2012/08/the-bad-habits-you-learn-in-school" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">The Bad Habits You Learn in School</a>
                            </li>
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="https://grantwiggins.wordpress.com/2014/10/10/a-veteran-teacher-turned-coach-shadows-2-students-for-2-days-a-sobering-lesson-learned/" target="_blank" data-category="Crash Course Section:Crash Course Reading Links"
                                onclick="ganalytics(this);">A Sobering Lesson Learned</a>
                            </li>
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="http://harvardmagazine.com/node/34321" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">Twilight of the Lecture</a>
                            </li>
                        </ul>
                    </li>
                    <li class="article-list-column expert-list-column">
                        <div class="color-bar bar-2"></div>
                        <h4 class="column-copy">Two short columns address the changing needs of the workplace:</h4>
                        <ul class="article-column expert-column">
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="http://www.nytimes.com/2013/03/31/opinion/sunday/friedman-need-a-job-invent-it.html?_r=1&" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">Need a Job?  Invent It</a>
                            </li>
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="http://www.nytimes.com/2014/02/23/opinion/sunday/friedman-how-to-get-a-job-at-google.html" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">How to Get a Job at Google</a>
                            </li>
                        </ul>
                    </li>
                    <li class="article-list-column expert-list-column">
                        <div class="color-bar bar-3"></div>
                        <h4 class="column-copy">And an article that begins to connect the dots:</h4>
                        <ul class="article-column expert-column">
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="http://www.nytimes.com/2011/09/18/magazine/what-if-the-secret-to-success-is-failure.html?pagewanted=all&_r=1" target="_blank" data-category="Crash Course Section:Crash Course Reading Links"
                                onclick="ganalytics(this);">What if the secret to success is failure?</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <p class="article-section-copy mf-copy more-articles-copy no-bpadding">Hungry for more great articles?</p>
            <a class="articles-button" href="http://www.edu21c.com/resources/articles/" target="_blank">Go Here</a>
        </div>
    </section>
    <!-- Article Section End -->

    <section class="books-section">
        <div class="wrapper">
            <p class="mf-copy no-bpadding">Among the many books written on education, there are a few you’ll want to devour. Get your school to order all of these for its library, and put them on a shelf labeled “The Future of Our Schools, Children, and Country”.</p>
        </div>
        <div class="book-list-container wrapper">
            <ul class="books-list">
                <li class="book">
                    <div class="book-image"><img src="/images/books/mlts.jpg" alt="Most Likely To Succeed"></div>
                    <div class="book-info">
                        <p class="title">Most Likely To Succeed</p>
                        <p class="author">Tony Wagner</p>
                    </div>
                    <a href="http://www.amazon.com/Most-Likely-Succeed-Preparing-Innovation-ebook/dp/B00P42WP7K/ref=sr_1_6?ie=UTF8&qid=1426353335&sr=8-6&keywords=tony+wagner" class="book-link articles-button" target="_blank">Buy On Amazon</a>
                </li>
                <li class="book">
                    <div class="book-image"><img src="/images/books/gag.jpg" alt="The Global Achievement Gap"></div>
                    <div class="book-info">
                        <p class="title">The Global Achievement Gap</p>
                        <p class="author">Tony Wagner</p>
                    </div>
                    <a href="http://www.amazon.com/Global-Achievement-Gap-Survival-Need%C2%97/dp/0465055974/ref=sr_1_1?ie=UTF8&qid=1438114182&sr=8-1&keywords=Global+Achievement+gap+Tony+Wagner&pebp=1438114183974&perid=0TA66D2SSRXAPNBWZD5G" class="book-link articles-button"
                    target="_blank">Buy On Amazon</a>
                </li>
                <li class="book">
                    <div class="book-image"><img src="/images/books/hcs.jpeg" alt="How Children Succeed"></div>
                    <div class="book-info">
                        <p class="title">How Children Succeed</p>
                        <p class="author">Paul Tough</p>
                    </div>
                    <a href="http://www.amazon.com/How-Children-Succeed-Curiosity-Character/dp/0544104404/ref=sr_1_1?ie=UTF8&qid=1438115038&sr=8-1&keywords=How+Children+Succeed&pebp=1438115040238&perid=1M0FHEXFFDQ3D8SX50MN" class="book-link articles-button" target="_blank">Buy On Amazon</a>
                </li>
                <li class="book">
                    <div class="book-image"><img src="/images/books/work-rules.jpeg" alt="Work Rules"></div>
                    <div class="book-info">
                        <p class="title">Work Rules</p>
                        <p class="author">Laszlo Bock</p>
                    </div>
                    <a href="http://www.amazon.com/Work-Rules-Insights-Inside-Transform/dp/1455554790/ref=sr_1_1?ie=UTF8&qid=1438115490&sr=8-1&keywords=laszlo+block&pebp=1438115492384&perid=1TSJ2FGAGTJE8Y961AYZ" class="book-link articles-button" target="_blank">Buy On Amazon</a>
                </li>
                <li class="book">
                    <div class="book-image"><img src="/images/books/drive.jpeg" alt="Drive"></div>
                    <div class="book-info">
                        <p class="title">Drive</p>
                        <p class="author">Daniel H. Pink</p>
                    </div>
                    <a href="http://www.amazon.com/Drive-Surprising-Truth-About-Motivates/dp/1594484805/ref=sr_1_1?ie=UTF8&qid=1438115803&sr=8-1&keywords=Daniel+H+Pink&pebp=1438115805755&perid=1CD8R1PSM7MTHZ6G5AK4" class="book-link articles-button" target="_blank">Buy On Amazon</a>
                </li>
                <li class="book">
                    <div class="book-image"><img src="/images/books/mindset.jpeg" alt="Mindset"></div>
                    <div class="book-info">
                        <p class="title">Mindset</p>
                        <p class="author">Carol Dweck</p>
                    </div>
                    <a href="http://www.amazon.com/Mindset-Psychology-Success-Carol-Dweck/dp/0345472322/ref=sr_1_1?ie=UTF8&qid=1438115878&sr=8-1&keywords=Carol+dweck&pebp=1438115888033&perid=0PVB5E4FQSFDJ8JE3BRA" class="book-link articles-button" target="_blank">Buy On Amazon</a>
                </li>
                <li class="book">
                    <div class="book-image"><img src="/images/books/pwd.jpg" alt="Parenting With Dignity"></div>
                    <div class="book-info">
                        <p class="title">Parenting With Dignity</p>
                        <p class="author">Mac Bledsoe</p>
                    </div>
                    <a href="http://www.amazon.com/Parenting-Dignity-Mac-Bledsoe/dp/0028644255/ref=sr_1_1?ie=UTF8&qid=1438115967&sr=8-1&keywords=Parenting+with+dignity&pebp=1438115968731&perid=12NN9ZH2TTEETT4XAJZX" class="book-link articles-button" target="_blank">Buy On Amazon</a>
                </li>
                <li class="book">
                    <div class="book-image"><img src="/images/books/twif.jpeg" alt="The World is Flat"></div>
                    <div class="book-info">
                        <p class="title">The World is Flat</p>
                        <p class="author">Thomas L. Friedman</p>
                    </div>
                    <a href="http://www.amazon.com/World-Flat-3-0-History-Twenty-first/dp/0312425074/ref=sr_1_1?ie=UTF8&qid=1438116069&sr=8-1&keywords=The+World+is+Flat&pebp=1438116070733&perid=0ZJHZ89P03BXYY9D8TVN" class="book-link articles-button" target="_blank">Buy On Amazon</a>
                </li>
                <li class="book">
                    <div class="book-image"><img src="/images/books/ratm.jpeg" alt="Race Against The Machine"></div>
                    <div class="book-info">
                        <p class="title">Race Against The Machine</p>
                        <p class="author">Eric Brynjolfsson &amp; Andy McAfee</p>
                    </div>
                    <a href="http://www.amazon.com/Race-Against-Machine-Accelerating-Productivity/dp/0984725113/ref=sr_1_1?ie=UTF8&qid=1438116361&sr=8-1&keywords=Race+Against+The+machine&pebp=1438116364435&perid=0APN1GGQEGDW4E6ET55P" class="book-link articles-button" target="_blank">Buy On Amazon</a>
                </li>
                <li class="book">
                    <div class="book-image"><img src="/images/books/doing-school.jpeg" alt="Doing School"></div>
                    <div class="book-info">
                        <p class="title">Doing School</p>
                        <p class="author">Deniss Pope</p>
                    </div>
                    <a href="http://www.amazon.com/Doing-School-Stressed-Out-Materialistic-Miseducated/dp/0300098332/ref=sr_1_1?ie=UTF8&qid=1438116521&sr=8-1&keywords=Doing+School" class="book-link articles-button" target="_blank">Buy On Amazon</a>
                </li>
                <li class="book">
                    <div class="book-image"><img src="/images/books/cw.jpeg" alt="Class Warfare"></div>
                    <div class="book-info">
                        <p class="title">Class Warfare</p>
                        <p class="author">Steven Brill</p>
                    </div>
                    <a href="http://www.amazon.com/Class-Warfare-Inside-Americas-Schools/dp/145161201X/ref=sr_1_1?ie=UTF8&qid=1438116609&sr=8-1&keywords=class+warfare&pebp=1438116611473&perid=175YYWMZNDFVMKCAY7C4" class="book-link articles-button" target="_blank">Buy On Amazon</a>
                </li>
                <li class="book">
                    <div class="book-image"><img src="/images/books/pc.jpeg" alt="Positive Coaching"></div>
                    <div class="book-info">
                        <p class="title">Positive Coaching</p>
                        <p class="author">Jim Thompson</p>
                    </div>
                    <a href="http://www.amazon.com/Positive-Coaching-Building-Character-Self-esteem/dp/0982131704/ref=sr_1_1?ie=UTF8&qid=1438116675&sr=8-1&keywords=positive+coaching&pebp=1438116677154&perid=0YVQGAHK9PPEMDMWQA3Z" class="book-link articles-button" target="_blank">Buy On Amazon</a>
                </li>
            </ul>
        </div>
    </section>


    <!-- Twitter Section Start -->
    <section class="twitter-section">
        <div class="wrapper">
            <h2 class="mf-header mf-section-header twitter-header icon no-bpadding">If you're on Twitter, follow these:</h2>
            <div class="twitter-contaienr articles-container">
                <ul class="twitter-list expert-list">
                    <li class="twitter-list-column expert-list-column">
                        <ul class="twitter-column expert-column">
                            <li class="twitter-list-item expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="https://twitter.com/thedailyriff" target="_blank" data-category="Know Your Stuff:Twitter" onclick="ganalytics(this);">&#064;thedailyriff</a>
                            </li>
                            <li class="twitter-list-item expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="https://twitter.com/deeperlearning" target="_blank" data-category="Know Your Stuff:Twitter" onclick="ganalytics(this);">&#064;deeperlearning</a>
                            </li>
                            <li class="twitter-list-item expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="https://twitter.com/dintersmith" target="_blank" data-category="Know Your Stuff:Twitter" onclick="ganalytics(this);">&#064;dintersmith</a>
                            </li>
                            <li class="twitter-list-item expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="https://twitter.com/drtonywagner" target="_blank" data-category="Know Your Stuff:Twitter" onclick="ganalytics(this);">&#064;drtonywagner</a>
                            </li>
                        </ul>
                    </li>
                    <li class="twitter-list-column expert-list-column">
                        <ul class="twitter-column expert-column">
                            <li class="twitter-list-item expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="https://twitter.com/educationweek" target="_blank" data-category="Know Your Stuff:Twitter" onclick="ganalytics(this);">&#064;educationweek</a>
                            </li>
                            <li class="twitter-list-item expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="https://twitter.com/mltsfilm" target="_blank" data-category="Know Your Stuff:Twitter" onclick="ganalytics(this);">&#064;mltsfilm</a>
                            </li>
                            <li class="twitter-list-item expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="https://twitter.com/sirkenrobinson" target="_blank" data-category="Know Your Stuff:Twitter" onclick="ganalytics(this);">&#064;sirkenrobinson</a>
                            </li>
                            <li class="twitter-list-item expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="https://twitter.com/valeriestrauss" target="_blank" data-category="Know Your Stuff:Twitter" onclick="ganalytics(this);">&#064;valeriestrauss</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Twitter Section End -->

    <!-- Vimeo iframe container -->
    <span class="grid-video-container">
	  <span class="grid-video-close icon icon-close close" data-video=""></span>
    </span>
</body>
