.for-change-agents {
	section .wrapper > .mf-copy {
		padding-bottom: 2em;
	}
	section .wrapper > .mf-copy:nth-child(2) {
		padding-bottom: 0;
	}
}

.fca-list {
	text-align: left;
	@include smaller-than(extra-large) {
		padding: 0 !important;
	}
}

.fca-email-container {
	& .wrapper {
		padding-bottom: 4em;
	}
}

.fca-email-copy {
	width: 75%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 3.5em;
	@include smaller-than(extra-large) {
		width: 70%;
	}
}

.feedback-email {
	color: black;
}