// Host a screening section

.host-a-screening-container {
  color: black;
  display: block;
}

.host-a-screening-wrapper {
  @extend .expert-list-wrapper;

  .host-screening-title {
    text-align: center;
  }

  .host-screening-copy {
    color: black;
    margin-bottom: 50px;
    font-size: 1.5em;
  }
}
