// Host a screening section

.host-a-screening-container {
  color: black;
  display: block;
}

.host-a-screening-wrapper {
  @extend .expert-list-wrapper;

  .host-screening-title {
    text-align: center;
  }

  .host-screening-copy {
    color: black;
    margin-bottom: 50px;
    font-size: 1.5em;
  }
}

.screening-form-background {
  @extend .expert-list-wrapper;
  background-image: url("/images/host-a-screening-background.jpg");
}

.screening-form-text {
  @include larger-than(medium) {
    float: left;
    width: 25%;
  }

  .screening-form-title {
    margin-bottom: 20px;
    text-align: left;
    font-size: 3em;
    color: white;
    padding: 0;
    @include larger-than(medium) {
      margin-top: 80px;
    }
  }

  .screening-form-description {
    color: white;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}

.screening-request-form {
  background-color: rgba(242, 242, 242, 0.75);
  @include larger-than(medium) {
    width: 70%;
    float: right;
  }
}

// Formstack Elements

.fsRow {
  // Styling for form label animation
  @extend .clearfix;
  position: relative;
  width: 100%;
  &.body-text {
      width: 100%;
  }

  .fsField{
    font-family: $sans-light;
    background-color: white;
    border: 0;
    padding: 0 1em;
    margin-top: -4px;
    border-radius: 5px;
    margin-bottom: 0.5em;
    resize: none;
    float: left;
  }

  // make all fields 100% width except for the checkbox
  &:not(:last-child) {
    .fsField{
      height: 50px;
      width: 100%;
    }
  }

  // Special styling for checkbox field
  input[type='checkbox'] {
    margin-top: 5px;
    margin-right: 8px;
  }
}

// Hide border around mailing list signup checkbox
fieldset {
  border: none;
}

.fsForm{
  margin: 0;
  padding: 2em;
}

.fsRowBody {
  .fsField {
    &:focus {
      border: 2px solid $darker-grey;
      padding-bottom: 10px;
    }
  }
}

// Hide field labels with hidden class (from Formstack HTML)
.hidden {
  display: none;
}

// Hide asterisks for required fields
.fsRequiredMarker {
  display: none;
}


// Styling for Formstack form labels
.fsLabel {
    display: block;
    width: 100%;
    top: 4.5em;
    left: 0;
    height: 18px;
      color: white;
      font-size: 70%;
      bottom: 0;
      text-transform: uppercase;
    background: $darker-grey;
    border-radius: 5px 5px 0 0;
    padding: 0 3em;
    @include smaller-than(medium) {
        top: 4.8em;
    }
    &.fsLabel {
        top: 9em;
    }
    padding-bottom: 0.2em;
    padding-left: 10px;
}

.fsSubmit {
  padding: 20px 0px;
}

.fsSubmitButton {
    @extend .transition;
    font-family: $sans-light;
    padding: 0.5em 1.5em 0.5em 1.5em;
    background: white;
    border-radius: 5px;
    border: 1px solid $text-grey;
    color: $text-grey;
    float: right;
    outline: none;
    -webkit-appearance: none;
    height: 50px;
    width: 100%;

    &:hover{
        color: white;
        background-color: $text-grey;
    }

    .btn-transparent &{
        background-color: transparent;
        border: 1px solid white;
        color: white;

        &:hover{
            background: white;
            color: $text-grey;
            border: 1px solid $text-grey;
        }
    }
}
