// Moving forward section on main page

.moving-forward-splash-container {
  color: black;
  display: block;
}

.mf-splash-wrapper {
  @extend .expert-list-wrapper;

  .mf-splash-title {
    text-align: center;
  }

  .mf-splash-copy {
    color: black;
    margin-bottom: 50px;
    font-size: 1.5em;
  }

  .mf-learn-more-button {
    border-radius: 8px;
    font-size: 1em;
    border: none;
    color: white;
    background-color: #192C6D;
    width: 200px;
    height: 50px;
    text-align: center;
  }
}
