#build-consensus .mf-header {
	padding-bottom: 2em;
}

#districts-and-states .button-container {
	padding-bottom: 5em;
	.articles-button {
		&:first-child {
			@include larger-than(extra-large) {
				margin-right: 3em;
			}
		}
	}
	@include smaller-than(large) {
		.articles-button {
			display: block;
			margin: 0 auto;
			&:first-child {
				margin-bottom: 1em;
			}
		}
	}
}

#districts-and-states  {
	.mf-header {
		padding-bottom: 2em;		
	}
	.big-wrapper {
		padding-top: 3em;
	}
}

.dlns-form {
	max-width: 500px;
	margin: 0 auto;
}