.for-teachers .survey-answers {
	@extend .clearfix;
	width: 100%;
	max-width: none;
}

.for-teachers .survey-container .big-wrapper {
	padding-top: 0em;
}


.for-teachers .survey-container .survey-question {
	padding-bottom: 0em;
}

.for-teachers .big-wrapper {
	padding-bottom: 0;
}

.for-teachers .answer-selection-container {
	position: relative;
	@include larger-than(extra-large) {
		height: 325px;
	}
	&:first-child {
		@include larger-than(extra-large) {
			float: left;
		}
	}
	&:last-child {
		@include larger-than(extra-large) {
			float: right;
		}
	}
	.answer-button-container {
		position: absolute;
		bottom: 0;
		width: 100%;
		@include smaller-than (extra-large) {
			position: static;
			text-align: center;
		}
	}
	.answer-button {
		width: 100%;
		@include larger-than(medium) {
			width: 50%;
		}
	}
}

.ft-list-one .ft-list-column, .ft-list-two .ft-list-column  {
	&:first-child {
		@include larger-than(extra-large) {
			padding-right: 3em;
		}
	}
	&:last-child {
		@include larger-than(extra-large) {
			padding-left: 3em;
		}
	}
}

.teacher-book-list .book-info {
	@include larger-than(large) {
		height: 5em;
	}
}

.teacher-book-list .book {
	@include larger-than(large) {
		width: 35%;
	}
}

.teacher-article-list .article-list-column {
	&:nth-child(2) {
		border-bottom: 1px solid lighten($text-grey, 30%);
	}
}

.teacher-article-section {
	.articles-container {
		margin: 0;
	}
	a {
		color: black;
	}
	.mf-copy {
		color: $text-grey;
		width: 100%;
		text-align: center;
		padding-bottom: 0;
	}
	.big-wrapper {
		padding-bottom: 6em;
	}
}

.teachers-numbered-list-header {
	padding-bottom: 0 !important;
}

// ===============
// Teacher Survey
// ===============

.teacher-answer {
	font-size: 1.2em;
	vertical-align: top;
	padding: 3em;
	max-width: 500px;
	margin-right: 1em;
	&.selected:before {
		font-size: 1.5em;
		top: 86%;
		left: 47%;
	}
	&:first-child {
		@include larger-than(huge) {
			margin-right: 5em;	
		}
		@include smaller-than(mid-large) {
			margin-bottom: 1em;
		}
	}	
	&:last-child {
		margin-right: 0;	
	}
	@include larger-than(medium) {
		height: 300px;
	}
	@include smaller-than(extra-large) {
		padding: 1.5em;
	}
	@include smaller-than(mid-large) {
		width: 300px;
		height: 300px;
		margin: 0 auto;
	}
	@include smaller-than(small) {
		width: 100%;
	}
}