// Upcoming Screenings
.screening-container {

  .upcoming-screening-filters {
    @include larger-than(medium) {
      display: block;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
    }
  }

  .screening-description-box {
    color: white;
    padding: 10px;
    border-radius: 5px;
    padding: 10px;
    @include larger-than(medium) {
      width: 48.5%;
      margin: 40px 0;
    }
  }

  img {
    max-height: 50px;
    vertical-align: middle;
    margin: 20px;
    float: left;
  }

  .screening-category-text {
    vertical-align: middle;
    overflow: hidden;
  }

  h2.screening-category-title {
    text-align: left;
    color: white;
    font-size: 1.5em;
    padding: 0;
  }

  .tour-events-description {
    background-color: $tour-blue;
    &:hover {
      background-color: $tour-blue-dark;
      cursor: pointer;
    }
    padding-right: 10px;
  }

  .tour-selected {
    border: 3px solid $tour-blue;
    background-color: $tour-blue-dark !important;
  }

  .community-screenings-description {
    background-color: $community-grey;
    &:hover, .selected {
      background-color: $community-grey-dark;
      cursor: pointer;
    }
  }
  .community-selected {
    border: 3px solid $community-grey-border;
    background-color: $community-grey-dark !important;
  }
}
