.change-agents-wrapper
  %h3
    Change
    %span.mlts-blue Agents
  %h2.change-agents-copy
    MLTS Change Agents are past screening hosts who continue to spread the film and its message throughout their communities. With our support, Change Agents engage other stakeholders in ongoing screening events and follow up discussions, activities, and initiatives. MLTS Change Agents are our thought partners - their input shapes the way we work to transform schools across the world. To learn more about the program, please submit an inquiry below.

.change-agents-container
  .change-agents-wrapper
    - @change_agents.each.with_index do |change_agent, i|
      - if i == 0 || i % 2 == 0
        .row
      .col-sm-6.change-agent
        %h2.change-agent-name= link_to(change_agent.full_name, change_agent.link, target: "blank")
        %p.change-agent-title= change_agent.location
        %p.change-agent-quote-prompt My goal in sharing the film and its message is...
        .change-agent-quote
          %p.change-agent-quote-text= change_agent.quote

= render partial: "partials/change_agent_form"
