// =======================
// Colors
// =======================
$light-grey:	#898989;
$grey:				#333333;
$dark-grey:		#1f1f1f;
$text-grey: 	#898989;
$darker-grey: #616161;
$form-grey:   #f2f2f2;
$form-grey-darker: #e4e4e2;
$survey-button-green: #48a08b;
$testimonial-grey:   #f2f2f2;
$image-border-grey: #dedddd;

$mlts-blue: #7FC5ED;
$tour-blue:  #658de2;
$tour-blue-dark:  #4559b9;
$community-grey-border: #B0B0B0;
$community-grey: #474b4c;
$community-grey-dark: #2c353b;
$dark-blue: 	#2c353b;
$maroon: 			#603d45;
$grid-grey: 	#504945;
$grid-blue: 	#27293e;
$screening-blue: #1E38FB;

$transwhite: rgba(255, 255, 255, 0.4);

