// =======================
// Webfonts
// =======================
@font-face {
  font-family: 'icomoon';
    src:url('../webfonts/icomoon/icomoon.eot');
    src:url('../webfonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
      url('../webfonts/icomoon/icomoon.woff') format('woff'),
      url('../webfonts/icomoon/icomoon.ttf') format('truetype'),
      url('../webfonts/icomoon/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT';
    src:url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot');
    src:url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
      url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Lt.woff') format('woff'),
      url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
      url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'helvetica-neue-thin';
    src:url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Th.eot');
    src:url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'),
      url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Th.woff') format('woff'),
      url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Th.ttf') format('truetype'),
      url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Th.svg#HelveticaNeueLTStd-Th') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Helvetica Neue Roman';
    src:url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot');
    src:url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
      url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Roman.woff') format('woff'),
      url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Roman.ttf') format('truetype'),
      url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Helvetica Neue Bold';
    src:url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot');
    src:url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Bd.eot.eot?#iefix') format('embedded-opentype'),
      url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Bd.woff') format('woff'),
      url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
      url('../webfonts/HelveticaNeue/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd25UltraLight';
    src: url('../webfonts/HelveticaNeue/helveticaneueltstd-ultlt.eot');
    src: url('../webfonts/HelveticaNeue/helveticaneueltstd-ultlt.eot') format('embedded-opentype'),
         url('../webfonts/HelveticaNeue/helveticaneueltstd-ultlt.woff') format('woff'),
         url('../webfonts/HelveticaNeue/helveticaneueltstd-ultlt.ttf') format('truetype'),
         url('../webfonts/HelveticaNeue/helveticaneueltstd-ultlt.svg#HelveticaNeueLTStd25UltraLight') format('svg');
    font-weight: 100;
    font-style: normal;
}