// Place all the styles related to the change_agents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.change-agents-wrapper {
  @extend .expert-list-wrapper;
  width:90%;
}

.change-agents-heading {
    h1 {
      font-size: 3em;
    }
    padding-bottom: 40px;
}

.change-agent {
  margin-bottom: 20px;
  padding-bottom: 20px;

  .change-agent-title {
    text-align: center;
    color: $light-grey;
    font-size: 0.75em;
  }

  // Speech bubbles
  .change-agent-quote {
    display: block;
    margin:30px 15px 0.5em;
    padding:15px;
    color:#333;
    background:#eee;
    -webkit-transition: 1s;
    &:hover {
      background: $mlts-blue;
      &:after {
      border-bottom-color: $mlts-blue;
      }
    }
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    @include larger-than(medium) {
      left: 30%;
      right: 12%;
    }
  }

  // Speech bubble traingles
  .change-agent-quote:after {
    content:"";
    position: absolute;
    left: 45%;
    top: 60px;
    @include larger-than(medium) {
      top: 76px;
    }
    border:15px solid transparent;
    border-bottom-color:#eee;
    -webkit-transition: 1s;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }
}


