<!-- FAQ Container -->
<section class="faq-container" id="community-screening-faq">
    <div class="faq-wrapper">
        <div class="faq-heading">
          <h1 id="faq-heading"><%= cms_block_content('faq.title') %></h1>
        </div>
        <div class="faq-content">
          <%= cms_block_content('faq.content').html_safe %>
        </div>
</section>
<!-- End of FAQ Container -->
