<footer class="main-footer">
  <nav>
    <ul class="footer-nav-links">
      <li class="nav-items"><a href="/#community-screening-faq" data-category="Footer" onclick="ganalytics(this);">FAQ</a></li>
      <li class="nav-items separator"><a href="/partners.html" data-category="Footer" onclick="ganalytics(this);">Partners</a></li>
      <li class="nav-items separator"><a href="mailto:info@mltsfilm.org" data-category="Footer" onclick="ganalytics(this);">Contact Us</a></li>
      <li class="nav-items separator"><a class="screenings-nav-link" href="https://www.facebook.com/MLTSfilm" target="_blank" data-category="Footer" onclick="ganalytics(this);">Facebook</a></li>
      <li class="nav-items separator"><a class="screenings-nav-link" href="https://twitter.com/mltsfilm" target="_blank" data-category="Footer" onclick="ganalytics(this);">Twitter</a></li>
    </ul>
  </nav>
</footer>

