<body class="for-teachers mf-body">
    <!-- Facebook Like Button -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=573229176144322&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="header-container mf-header">
    </div>

    <section class="copy-container moving-forward-copy">
        <div class="wrapper">
            <h1 class="mf-title">For Teachers</h1>
            <p class="mf-subtitle mf-copy">Our education policy revels in piling more “to do” items onto the crowded plates of our teachers, without taking anything off. We add a new regimen of curriculum and tests to the agenda, but won’t tolerate slippage on other metrics (e.g.,
                state tests, SAT’s and ACT’s, AP). Somehow, we have this view that our teachers and students sit idly in class, awaiting new initiatives.</p>
            <p class="mf-subtitle mf-copy">So with considerable caution, we offer up some resources for teachers who want to move their classrooms forward. But our focus isn’t so much on what teachers should cover and test, but how they might engage with their students.</p>
        </div>
    </section>

    <!-- Survey Container Start -->
    <section class="survey-container">
        <div class="wrapper">
            <h2 class="mf-header mf-section-header survey-question">For starters, which of the alternatives below best reflects the way you view your role with your class:</h2>
        </div>
        <div class="big-wrapper">
            <div class="survey-answers" data-name="teachers">
                <span class="answer-button teacher-answer icon icon-checkmark" data-answer="a">to be the subject matter expert, presenting important content in a coherent fashion and testing students on what they’ve learned.</span>
                <span class="answer-button teacher-answer icon icon-checkmark" data-answer="b">to get my students interested in a subject area (or areas), encourage them to define and complete initiatives to a high standard, and facilitate peer-to-peer discussion and evaluation</span>
            </div>
            <div class="results-container">
                <p class="survey-results"><span class="result-value a-response"></span> of users identify as subject matter experts. <span class="result-value b-response"></span> try to get their student interested in a subject area.</p>
            </div>
        </div>
    </section>
    <!-- Survey Container End -->

    <!-- Horizontal List Container Start -->
    <section class="copy-container moving-forward-copy horizontal-list-container">
        <div class="big-wrapper">
            <h2 class="mf-header mf-section-header survey-question">The film <i>Most Likely To Succeed</i> follows students and teachers immersed in powerful learning experiences characterized by a few principles:</h2>
            <div class="horizontal-list-container">
                <ul class="horizontal-list">
                    <li class="horizontal-list-item">
                        <span class="letter list-order-indicator">A</span>
                        <p class="list-copy">students drive the class discussion</p>
                    </li>
                    <li class="horizontal-list-item">
                        <span class="letter list-order-indicator">B</span>
                        <p class="list-copy">peer review is an essential part of the evaluation of student work</p>
                    </li>
                    <li class="horizontal-list-item">
                        <span class="letter list-order-indicator">C</span>
                        <p class="list-copy">student work is exhibited publicly</p>
                    </li>
                    <li class="horizontal-list-item">
                        <span class="letter list-order-indicator">D</span>
                        <p class="list-copy">students are empowered to make decisions</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <p class="mf-copy">These principles can find their way into your classroom tomorrow, and you will make huge strides. Student learning improves. The teaching process becomes more enjoyable, and there’s no longer the need to spend lots of time preparing each night
                for the next day’s lecture. The class becomes more energized and dynamic. Also, as students get good at critiquing each other’s work, you can leverage this feedback to provide meaningful evaluation to student work, while helping your students
                develop critical analysis and collaboration skills. And students will be motivated to do their best work when they have to present it to their peers.</p>
            <p class="mf-copy">If you’re looking for a few challenges to integrate into your class, and help students develop critical skills, check out our sparklist. These resources can complement your existing approach, without requiring wholesale changes.</p>
            <a class="articles-button" href="http://52.74.90.55/" target="_blank">Sparklist</a>
        </div>
    </section>
    <!-- Horizontal List Container End -->

    <!-- Numbered List Container Start -->
    <section class="copy-container moving-forward-copy numbered-list-container">
        <div class="big-wrapper">
            <h2 class="mf-header mf-section-header teachers-numbered-list-header">Tony Wagner’s and Ted Dintersmith’s book <i>Most Likely To Succeed</i> offers these suggestions to teachers seeking to innovate and improve the learning experiences of their students.</h2>
        </div>
        <div class="wrapper">
            <ul class="numbered-list">
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">1</span>
                        <p class="list-copy numbered-item-copy">Find and team up with a trusted colleague. That person’s support and objectivity will be invaluable.</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">2</span>
                        <p class="list-copy numbered-item-copy">Review the tests, quizzes, and assignments you give students. Assess them on the basis of how memorization-intensive they are. Could anyone with access to online search have answered the questions? Do these assignments help your
                            students develop critical skills? How?</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">3</span>
                        <p class="list-copy numbered-item-copy">Gauge how much of the “talk time” in your class is your lecturing, compared to student-led discussion. Do students have opportunities to teach and learn from one another? To work in teams? It’s easy to have the impression that
                            you’re speaking very little, only to find that you’re talking most of the time. Use your phone to video one of your typical classes, and be rigorous in determining your percentage of “air time.” If it’s more than 20 percent,
                            figure out how to restructure your class.</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">4</span>
                        <p class="list-copy numbered-item-copy">Are students assessed on the questions they ask, as well as the answers they provide?</p>
                    </div>
                </li>
                <li class="numbered-list-item">
                    <div class="item-content-container">
                        <span class="number list-order-indicator">5</span>
                        <p class="list-copy numbered-item-copy">Do students have opportunities to create their own projects, define goals, develop their plan, and communicate their achievements to a broader audience? Can a student afford to make mistakes and fail, and still do well in your
                            course? What percentage of the time they spend is on self-defined projects? If it’s less than 20 percent, try to get there.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Numbered List Container End -->


    <section class="copy-container moving-forward-copy ft-list-container">
        <div class="big-wrapper">
            <h2 class="mf-header mf-section-header mf-section-header no-bpadding">For perspective on how to integrate deeper, more hands-on learning into your classroom, check out the following great compendiums from some of our nation’s leading education organizations:</h2>
            <div class="expert-lists expert-reading">
                <ul class="expert-list fca-list ft-list-one">
                    <li class="expert-list-column ft-list-column">
                        <ul class="expert-column">
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="https://www.teachingchannel.org/deeper-learning-video-series" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">The Deeper Learning teaching channel</a>
                            </li>
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="http://elschools.org/educator-resources/videos" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">Expeditionary Learning video resources</a>
                            </li>
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="http://www.newtechnetwork.org/services/resources" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">New Tech High resources</a>
                            </li>
                        </ul>
                    </li>
                    <li class="expert-list-column ft-list-column">
                        <ul class="expert-column">
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="http://bie.org/objects/cat/videos" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">Buck Institute videos</a>
                            </li>
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="http://www.edutopia.org/article/new-teacher-resources-toolkit" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">Edutopia teacher resources</a>
                            </li>
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="http://asiasociety.org/education/resources" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">Asia Society education resources</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <h2 class="mf-copy no-bpadding">While most online “learning” resources aren’t terribly ueful, there are two well-architected resources that can help your professional development:</h2>
            <div class="expert-lists expert-reading">
                <ul class="expert-list fca-list ft-list-two">
                    <li class="expert-list-column ft-list-column">
                        <ul class="expert-column">
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="https://www.teachingchannel.org/deeper-learning-video-series" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">High Tech High Online Courses</a>
                            </li>
                        </ul>
                    </li>
                    <li class="expert-list-column ft-list-column">
                        <ul class="expert-column">
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="http://bie.org/objects/cat/videos" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">Buck Institute videos</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Books Section Start -->
    <section class="books-section">
        <div class="wrapper">
            <p class="mf-copy no-bpadding">For two books describing the style of teaching you see in the film, check out:</p>
        </div>
        <div class="book-list-container wrapper">
            <ul class="books-list teacher-book-list">
                <li class="book">
                    <div class="book-image"><img src="/images/books/wtm.jpg" alt="The Global Achievement Gap"></div>
                    <div class="book-info">
                        <p class="title">Work That Matters: A Teacher’s Guide to Project-Based Learning</p>
                        <p class="author">Alec Patton and Jeff Robin</p>
                    </div>
                    <a href="http://www.innovationunit.org/sites/default/files/Teacher%27s%20Guide%20to%20Project-based%20Learning.pdf" class="book-link articles-button" target="_blank">Read Online</a>
                </li>
                <li class="book">
                    <div class="book-image"><img src="/images/books/eoe.jpg" alt="How Children Succeed"></div>
                    <div class="book-info">
                        <p class="title">An Ethic of Evidence</p>
                        <p class="author">Ron Berger</p>
                    </div>
                    <a href="http://www.amazon.com/An-Ethic-Excellence-Building-Craftsmanship/dp/0325005966" class="book-link articles-button" target="_blank">Buy On Amazon</a>
                </li>
            </ul>
        </div>
    </section>
    <!-- Books Section End -->

    <!-- Article Section Start -->
    <section class="article-section teacher-article-section">
        <div class="big-wrapper">
            <p class="mf-copy">We highly recommend this talk by <a href="https://www.youtube.com/watch?v=CBzn9RAJG6Q" target="_blank">Eric Mazur</a>, Head of the Applied Physics program at Harvard. It will have a big impact on the way you look at your classroom.</p>
            </br>
            <p class="mf-copy">If your budget allows, consider attending one of these conferences. You’ll learn a lot, and meet like-minded teachers that can work with you virtually as you move your classroom forward:</p>
            <div class="articles-container">
                <ul class="article-list expert-list teacher-article-list">
                    <li class="article-list-column expert-list-column">
                        <ul class="article-column expert-column">
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="http://www.deeper-learning.org/dl2015" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">Deeper Learning</a>
                            </li>
                        </ul>
                    </li>
                    <li class="article-list-column expert-list-column">
                        <ul class="article-column expert-column">
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="https://pblworld.org" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">Project-Based-Learning World</a>
                            </li>
                        </ul>
                    </li>
                    <li class="article-list-column expert-list-column">
                        <ul class="article-column expert-column">
                            <li class="expert-list-item">
                                <a class="expert-list-item-link icon icon-arrow-right-circle" href="http://gse.hightechhigh.org/residenciesAndInstitutes.php" target="_blank" data-category="Crash Course Section:Crash Course Reading Links" onclick="ganalytics(this);">High Tech High Residences</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Article Section End -->


    <!-- Vimeo iframe container -->
    <span class="grid-video-container">
	  <span class="grid-video-close icon icon-close close" data-video=""></span>
    </span>
</body>

</html>

