<!-- Moving Forward Container -->
<section class="mf-splash-container" id="moving-forward">
    <div class="mf-splash-wrapper">
        <h1 class="mf-splash-title"><%= cms_block_content('moving_forward.title') %></h1>
        <h2 class="mf-splash-copy"><%= cms_block_content('moving_forward.content') %></h2>

        <center>
            <button class="mf-learn-more-button"><a href="/moving-forward">Learn More</a></button>
        </center>
    </div>
</section>

<!-- End of Moving Forward Container -->
<hr/>
