<section class="partners-container">
  <ul class="partners-list">

  <% @cms_page.children.each do |section| %>
    <li class="partner-item">
        <div class="partner-logo">
            <img src="/images/partners/partner-tfp.jpg">
        </div>
        <div class="partner-content">
            <h3><%= section.blocks.where(identifier: 'partner-name').first.content %></h3>
            <p><%= section.children.first.blocks.where(identifier: 'partner-description').first.content %></p>
        </div>
    </li>

  <% end %>


  </ul>
</div>

