<section class="partners-container">
  <ul class="partners-list">

  <% @cms_page.children.each do |partner| %>
    <li class="partner-item">
        <div class="partner-logo">
            <img src=<%= cms_block_render('headshot', partner) %>>
        </div>
        <div class="partner-content">
            <h3><%= cms_block_content('partner_name', partner) %></h3>
            <p><%= cms_block_content('partner_description', partner) %></p>
        </div>
    </li>
  <% end %>
  </ul>
</div>

