<!-- Screening Container -->
<section class="screening-container" id="screenings">
    <div id="tourscreenings"></div>
    <div id="communityscreenings"></div>
    <div class="screening-wrapper">
        <h3>Upcoming Screenings</h3>
        <div class="upcoming-screening-filters">
            <div id="tour-events-filter" class="screening-description-box tour-events-description">
                <img class="screening-category-icon" src="/images/mlts-star-white.png">
                <div class="screening-category-text">
                    <h2 class="screening-category-title">Fifty-State Tour Events</h2>
                    <p><%= cms_block_content('upcoming_screenings.tour_events_description') %></p>
                </div>
            </div>
            <div id="community-screenings-filter" class="screening-description-box community-screenings-description">
                <img class="screening-category-icon" src="/images/mlts-screen-white.png">
                <div class="screening-category-text">
                    <h2 class="screening-category-title">Community Screenings</h2>
                    <p><%= cms_block_content('upcoming_screenings.community_screenings_description') %></p>
                </div>
            </div>
        </div>

        <div class="screening-table" data-category="Screening Section" data-label="Host Screenings List" onclick="ganalytics(this);">
            <table class="screening-tablerow">
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End of Screenings Container -->
