<!-- Screening Container -->
<section class="screening-container" id="screenings">
    <div id="tourscreenings"></div>
    <div id="communityscreenings"></div>
    <div class="screening-wrapper">
        <h3>Upcoming Screenings</h3>

        <div class="screening-table" data-category="Screening Section" data-label="Host Screenings List" onclick="ganalytics(this);">
            <table class="screening-tablerow">
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- End of Screenings Container -->
